<div class="grid">
    <p-toast key="tst" [baseZIndex]="99999"></p-toast>
    <div class="col-12">
        <div class="card">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">

                <ng-template pTemplate="right">
                    <p-fileUpload
                        mode="basic"
                        [maxFileSize]="1000000"
                        label="Import"
                        chooseLabel="Import"
                        (onSelect)="onFileSelected($event)"
                        class="mr-2 inline-block"
                        >
                    </p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                    <button pButton pRipple label="Show List" icon="pi pi-file-o" class="p-button-success m-2" (click)="visibleAlumniList = true"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="products" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['first_name','last_name','municipality','batch_year']" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedProducts" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Manage Alumnis</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="id">Code <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="first_name">First Name <p-sortIcon field="first_name"></p-sortIcon></th>
						<th pSortableColumn="last_name">Last Name <p-sortIcon field="last_name"></p-sortIcon></th>
                        <!-- <th>Image</th> -->
                        <th pSortableColumn="batch_year">Batch Year <p-sortIcon field="batch_year"></p-sortIcon></th>
                        <th class="muni-th" pSortableColumn="municipality">Municipality <p-sortIcon field="municipality"></p-sortIcon></th>
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-account>
                    <tr>
                        <td (click)="showProfile(account)">
                            <p-tableCheckbox [value]="account"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title" (click)="showProfile(account)">Code</span>
                            {{account.code || account.id}}
                        </td>
                        <td style="width:14%; min-width:10rem;" (click)="showProfile(account)">
                            <span class="p-column-title">First Name</span>
                            {{account.first_name}}
                        </td>
						<td style="width:18%; min-width:10rem;" (click)="showProfile(account)">
                            <span class="p-column-title">Last Name</span>
                            {{account.last_name}}
                        </td>
                        <!-- <td style="width:14%; min-width:10rem;"><span class="p-column-title" (click)="showProfile(account)">Image</span>
                            <img [src]="account.picture ? 'assets/demo/images/product/' + account.picture : 'assets/demo/images/product/temp_profile.jpg'" [alt]="account.name" width="100" class="shadow-4" />
                        </td> -->
                        
                        <td style="width:14%; min-width:10rem;" (click)="showProfile(account)">
                            <span class="p-column-title">Category</span>
                            {{account.batch_year}}
                        </td>
                        <td style="width:14%; min-width:10rem;" (click)="showProfile(account)">
                            <span class="p-column-title">Municipality</span>
                            {{account.municipality}}
                        </td>
                        <!-- <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Status</span>
                            <span [class]="'account-badge status-' + (account.inventoryStatus ? account.inventoryStatus.toLowerCase() : '')">{{account.status}}</span>
                        </td> -->
                        <td (click)="deleteProduct(account)">
                            <div class="flex">
                                <!-- <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(account)"></button> -->
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-sidebar styleClass="p-sidebar-lg" [(visible)]="visibleAlumniList" position="right" [baseZIndex]="10000">
            <app-alumni-list></app-alumni-list>
        </p-sidebar>

        <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="account">Are you sure you want to delete <b>{{account.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete(account.id)"></button>
            </ng-template>
        </p-dialog>

        <p-dialog class="p-3" [(visible)]="showDialog" header="Profile" [modal]="true" [style]="{width:'auto'}">
            <app-view-profile *ngIf="showDialog" [profile]="myProfile" [work]="myWorkProfile"></app-view-profile>
        </p-dialog>
    </div>
</div>
