<div class="container">
    <form role="form" [formGroup]="workForm">
        <div class="sign-up-panel">

            <p class="mt-2">Are you presently working or engaged in business?</p>
            <div class="grid">
				<div class="col-12 md:col-4">
					<div class="field-radiobutton">
						<p-radioButton name="is_working" value="yes" formControlName="is_working" [(ngModel)]="isWorking" id="yes"></p-radioButton>
						<label for="yes">Yes</label>
					</div>
				</div>
				<div class="col-12 md:col-4">
					<div class="field-radiobutton">
						<p-radioButton name="is_working" value="no" formControlName="is_working" [(ngModel)]="isWorking" id="no"></p-radioButton>
						<label for="no">No</label>
					</div>
				</div>
			</div>

            
            <div *ngIf="isWorking == 'yes'">
                <p class="mt-2">If YES, Please check:</p>
                <div class="grid">
                    <div class="col-12 md:col-4">
                        <div class="field-radiobutton">
                            <p-radioButton name="work_type" value="private" formControlName="work_type" [(ngModel)]="workType" id="private"></p-radioButton>
                            <label for="private">Working</label>
                        </div>
                    </div>
                    <div class="col-12 md:col-4">
                        <div class="field-radiobutton">
                            <p-radioButton name="work_type" value="self employed" formControlName="work_type" [(ngModel)]="workType" id="self"></p-radioButton>
                            <label for="self">Self-Emplyed(In business)</label>
                        </div>
                    </div>
                </div>
                <div class="grid">
                    <div class="col-12 md:col-3">
                        <div class="field">
                            <label for="work_position">Work Position</label>
                            <input class="custom-input" type="text" id="work_position" pInputText formControlName="work_position">
                        </div>
                        
                    </div>
                    <div class="col-12 md:col-3">
                        <div class="field">
                            <label for="company_name">Company Name</label>
                            <input class="custom-input" type="text" id="company_name" pInputText formControlName="company_name">
                        </div>
                    </div>
                    <div class="col-12 md:col-3">
                        <div class="field">
                            <label for="company_address">Company Address</label>
                            <input class="custom-input" type="text" id="company_address" pInputText formControlName="company_address">
                        </div>
                    </div>
                    <div class="col-12 md:col-3">
                        <div class="field">
                            <label for="company_acronym">Company Acronym</label>
                            <input class="custom-input" type="text" id="company_acronym" pInputText formControlName="company_acronym">
                        </div>
                    </div>
                    <div class="col-12 md:col-3" *ngIf="workType == 'private'">
                        <div class="field">
                            <label for="type_of_business">Type of Business</label>
                            <input class="custom-input" type="text" id="type_of_business" pInputText formControlName="type_of_business">
                        </div>
                    </div>
                    <div class="col-12 md:col-3" *ngIf="workType == 'private'">
                        <div class="field">
                            <label for="area_of_business">Area of Business</label>
                            <input class="custom-input" type="text" id="area_of_business" pInputText formControlName="area_of_business">
                        </div>
                    </div>
                    <div class="col-12 md:col-3" *ngIf="workType != 'private'">
                        <div class="field">
                            <label for="business_related">Business Related</label>
                            <input class="custom-input" type="text" id="business_related" pInputText formControlName="business_related">
                        </div>
                    </div>
                    <div class="col-12 md:col-3" *ngIf="workType != 'private'">
                        <div class="field">
                            <label for="line_of_busines">Line of Business</label>
                            <input class="custom-input" type="text" id="line_of_busines" pInputText formControlName="line_of_busines">
                        </div>
                    </div>
                    <div class="col-12 md:col-3">
                        <div class="field">
                            <label for="business_address">Business Address</label>
                            <input class="custom-input" type="text" id="business_address" pInputText formControlName="business_address">
                        </div>
                    </div>
                    <div class="col-12 md:col-3">
                        <div class="field">
                            <label for="business_name">Business Name</label>
                            <input class="custom-input" type="text" id="business_name" pInputText formControlName="business_name">
                        </div>
                    </div>
                    <div class="col-12 md:col-3">
                        <div class="field">
                            <label for="business_acronym">Business Acronym</label>
                            <input class="custom-input" type="text" id="business_acronym" pInputText formControlName="business_acronym">
                        </div>
                    </div>
                </div>
            </div>

            <button 
                pButton pRipple 
                type="button" label="SUBMIT" 
                (click)="confirm()"
                [disabled]="workForm.invalid"
                class="p-button-raised p-button-success mr-2 mb-2"></button>
        </div>
    </form>
</div>