<div class="container">
    <form role="form" [formGroup]="workForm">
        <div class="sign-up-panel">

            <p class="mt-2">Are you presently working or engaged in business? <span class="required"> *</span></p>
            <div class="grid">
				<div class="col-12 md:col-2">
					<div class="field-radiobutton">
						<p-radioButton name="is_working" value="yes" formControlName="is_working" [(ngModel)]="isWorking" id="yes"></p-radioButton>
						<label for="yes">Yes</label>
					</div>
				</div>
				<div class="col-12 md:col-2">
					<div class="field-radiobutton">
						<p-radioButton name="is_working" value="no" formControlName="is_working" [(ngModel)]="isWorking" id="no"></p-radioButton>
						<label for="no">No</label>
					</div>
				</div>
			</div>

            
            <div *ngIf="isWorking == 'yes'">
                <p class="mt-2">If YES, Please check:  <span class="required"> *</span></p>
                <div class="grid">
                    <div class="col-12 md:col-2">
                        <div class="field-radiobutton">
                            <p-radioButton name="work_type" value="private" formControlName="work_type" [(ngModel)]="workType" id="private"></p-radioButton>
                            <label for="private">Working</label>
                        </div>
                    </div>
                    <div class="col-12 md:col-2">
                        <div class="field-radiobutton">
                            <p-radioButton name="work_type" value="self employed" formControlName="work_type" [(ngModel)]="workType" id="self"></p-radioButton>
                            <label for="self">Self-Employed(In business)</label>
                        </div>
                    </div>
                </div>
                <div class="grid">
                    <div class="col-12 md:col-3">
                        <div class="field">
                            <label for="work_position" class="mr-2">IT Related <span class="required"> *</span></label>
                            
                        </div>
                    </div>
                    <div class="col-12 md:col-2">
                        <div class="field">
                            <div class="field-radiobutton">
                                <p-radioButton name="is_it_related" value="1" formControlName="is_it_related" [(ngModel)]="isItRelated" id="it_yes"></p-radioButton>
                                <label for="it_yes">Yes</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 md:col-2">
                        <div class="field">
                            <div class="field-radiobutton">
                                <p-radioButton name="is_it_related" value="0" formControlName="is_it_related" [(ngModel)]="isItRelated" id="it_no"></p-radioButton>
                                <label for="it_no">No</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid">
                    <div class="col-12 md:col-3">
                        <div class="field">
                            <label for="work_position" class="mr-2">Work Sector <span class="required"> *</span></label>
                            
                        </div>
                    </div>
                    <div class="col-12 md:col-2">
                        <div class="field">
                            <div class="field-radiobutton">
                                <p-radioButton name="is_gov_sect" value="1" formControlName="is_gov_sect" [(ngModel)]="isWorkSector" id="is_gov"></p-radioButton>
                                <label for="is_gov">Public</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 md:col-2">
                        <div class="field">
                            <div class="field-radiobutton">
                                <p-radioButton name="is_gov_sect" value="0" formControlName="is_gov_sect" [(ngModel)]="isWorkSector" id="is_private"></p-radioButton>
                                <label for="is_private">Private</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid">
                    <div class="col-12 md:col-6">
                        <div class="field">
                            <label for="work_position" class="mr-2">Work Position <span class="required"> *</span></label>
                            <input class="custom-input" type="text" id="work_position" pInputText formControlName="work_position">
                        </div>
                        <div class="field">
                            <label for="company_name" class="mr-2">Company Name <span class="required"> *</span></label>
                            <input class="custom-input" type="text" id="company_name" pInputText formControlName="company_name">
                        </div>
                        <div class="field">
                            <label for="company_address" class="mr-2">Company Address <span class="required"> *</span></label>
                            <input class="custom-input" type="text" id="company_address" pInputText formControlName="company_address">
                        </div>
                        <div class="field">
                            <label for="company_acronym" class="mr-2">Company Acronym <span class="required"> *</span></label>
                            <input class="custom-input" type="text" id="company_acronym" pInputText formControlName="company_acronym">
                        </div>
                    </div>
                    <div class="col-12 md:col-6">
                        <div class="field" *ngShow="false">
                            <label for="type_of_business" class="mr-2">Type of Business <span class="required"> *</span></label>
                            <input class="custom-input" type="text" id="type_of_business" pInputText formControlName="type_of_business">
                        </div>
                        <div class="field" *ngShow="false">
                            <label for="area_of_business" class="mr-2">Area of Business <span class="required"> *</span></label>
                            <input class="custom-input" type="text" id="area_of_business" pInputText formControlName="area_of_business">
                        </div>
                        <div class="field" *ngShow="false">
                            <label for="business_related" class="mr-2">Business Related <span class="required"> *</span></label>
                            <input class="custom-input" type="text" id="business_related" pInputText formControlName="business_related">
                        </div>
                        <div class="field">
                            <label for="line_of_busines" class="mr-2">Line of Business <span class="required"> *</span></label>
                            <input class="custom-input" type="text" id="line_of_busines" pInputText formControlName="line_of_busines">
                        </div>
                        <div class="field">
                            <label for="business_address" class="mr-2">Business Address <span class="required"> *</span></label>
                            <input class="custom-input" type="text" id="business_address" pInputText formControlName="business_address">
                        </div>
                        <div class="field">
                            <label for="business_name" class="mr-2">Business Name <span class="required"> *</span></label>
                            <input class="custom-input" type="text" id="business_name" pInputText formControlName="business_name">
                        </div>
                        <div class="field">
                            <label for="business_acronym" class="mr-2">Business Acronym <span class="required"> *</span></label>
                            <input class="custom-input" type="text" id="business_acronym" pInputText formControlName="business_acronym">
                        </div>
                    </div>
                </div>
            </div>

            <button 
                pButton pRipple 
                type="button" label="SUBMIT" 
                (click)="confirm()"
                [disabled]="workForm.invalid"
                class="p-button-raised p-button-success mr-2 mb-2">
            </button>
            <div class="text-center">
                <a href="#">Back to Login</a>
            </div>
        </div>
    </form>
</div>