<div class="layout-dashboard">
    <div class="grid">
        <div class="col-12 md:col-6 lg:col-4">
            <div class="overview-box sales" (click)="visibleEvent = true">
                <img src="assets/layout/images/icon-sales.png" alt="ecuador-layout" class="image-icon" />
                <div class="overview-title">EVENTS</div>
                <div class="overview-numbers">
                    {{dashboard_count?.event_posts ?? 0}}
                </div>
            </div>
        </div>

        <p-sidebar styleClass="p-sidebar-lg" [(visible)]="visibleEvent" position="right" [baseZIndex]="10000">
            <app-event></app-event>
        </p-sidebar>

        <div class="col-12 md:col-6 lg:col-4">
            <div class="overview-box views"  (click)="visibleJob = true">
                <img src="assets/layout/images/icon-views.png" alt="ecuador-layout" style="margin-top:10px" />
                <div class="overview-title">JOBS</div>
                <div class="overview-numbers">
                    {{dashboard_count?.job_posts ?? 0}}
                </div>
            </div>
        </div>

        <p-sidebar styleClass="p-sidebar-lg" [(visible)]="visibleJob" position="right" [baseZIndex]="10000">
            <app-job-portal></app-job-portal>
        </p-sidebar>

        <div class="col-12 md:col-6 lg:col-4">
            <div class="overview-box checkins"  (click)="visibleAlumni = true">
                <img src="assets/layout/images/icon-checkin.png" alt="ecuador-layout" class="image-icon" />
                <div class="overview-title">ALUMNI</div>
                <div class="overview-numbers">
                    {{dashboard_count?.alumni ?? 0}}
                </div>
            </div>
        </div>

        <p-sidebar styleClass="p-sidebar-lg" [(visible)]="visibleAlumni" position="right" [baseZIndex]="10000">
            <app-account></app-account>
        </p-sidebar>
                        
        <div class="col-12 md:col-9">
            <div class="col-12">
                <div class="grid p-fluid">  
                    <div class="col-12 lg:col-6">
                        <div class="card">
                            <h5>Registered Alumni {{showRegisteredTable}}</h5>
                            <p-chart type="line" [data]="lineData" [options]="lineOptions" [style]="{'width': '50%'}"></p-chart>
                        </div>
                    </div>
                    <div class="col-12 lg:col-6">
                        <div class="card">
                            <h5>Bar Chart</h5>
                            <p-chart type="bar" [data]="barData" [options]="barOptions"></p-chart>
                        </div>
                    </div>
                    <div class="col-12 lg:col-6">
                        <div class="card flex flex-column align-items-center">
                            <h5 class="text-left w-full">IT Related</h5>
                            <p-chart type="pie" [data]="pieDataItRelated" [options]="pieOptions" [style]="{'width': '50%'}"></p-chart>
                        </div>
    
                    </div>
                    <div class="col-12 lg:col-6">
                        <div class="card flex flex-column align-items-center">
                            <h5 class="text-left w-full">Goverment Sector</h5>
                            <p-chart type="pie" [data]="pieDataGovSect" [options]="pieOptions" [style]="{'width': '50%'}"></p-chart>
                        </div>
                    </div>
                </div>            
            </div>
        </div>


        <div class="col-12 md:col-3">
            
            <div class="grid">
                <div class="col-12">
                    <div class="card" style="max-height: 468px; overflow: scroll;">
                        <p-toast key="tst" [baseZIndex]="99999"></p-toast>
                        <!-- <p-toolbar styleClass="mb-4">
                        </p-toolbar> -->
            
                        <p-table #dt [value]="jobs" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['company_name','company_email','batch_year','company_address']" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedJobs" selectionMode="multiple" [rowHover]="true" dataKey="id">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="company_name">Company Name <p-sortIcon field="company_name"></p-sortIcon></th>
                                
                                    <th class="custom-w-th" pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-job>
                                <tr (click)="viewJob(job)">
                                    <td style="width:14%; min-width:10rem;"><span class="p-column-title">Company Name</span>
                                        {{job.company_name}}
                                    </td>
                                    
                                    <td style="width:14%; min-width:10rem;">
                                        <span class="p-column-title">Status</span>
                                        <span class="warning-span" *ngIf="job.status == 0">{{job.status == 0 ? 'Pending' : ''}}</span>
                                        <span class="success-span" *ngIf="job.status == 1">{{job.status == 1 ? 'Accepted' : ''}}</span>
                                        <span  class="danger-span" *ngIf="job.status == 2">{{job.status == 2 ? 'Rejected' : ''}}</span>
                                    </td>
                                    <td>
                                        <div class="flex">
                                            <button pButton pRipple label="Accept" class="p-button-success mr-2" (click)="acceptJob(job.id)"></button>
                                            <button pButton pRipple label="Reject" class="p-button-danger mr-2" (click)="rejectJob(job.id)"></button>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <app-view-job *ngIf="showViewDialog" [jobDialogStat]="showViewDialog" [jobData]="selectedJob"></app-view-job>
                    </div>
            
                    <p-dialog [(visible)]="jobDialog" [style]="{width: '450px'}" header="Add New Job Post" [modal]="true" class="p-fluid">
                        <form role="form" [formGroup]="formJob">
                            <input type="file" (change)="onFileSelected($event)" />
                            <div class="field mt-2">
                                <label for="company_name">Company Name</label>
                                <input type="text" pInputText id="company_name" formControlName="company_name" required autofocus/>
                            </div>
                            <div class="field">
                                <label for="company_email">Company Email</label>
                                <input type="text" pInputText id="company_email" formControlName="company_email" required autofocus/>
                            </div>
                            <div class="field">
                                <label for="company_address">Company Address</label>
                                <input type="text" pInputText id="company_address" formControlName="company_address" required autofocus/>
                            </div>
                            <div class="field">
                                <label for="position">Position</label>
                                <input type="text" pInputText id="position" formControlName="position" required autofocus/>
                            </div>
                            <div class="field">
                                <label for="qualification">Qualifications</label>
                                <input type="text" pInputText id="qualification" formControlName="qualification" required autofocus/>
                            </div>
                            <div class="field">
                                <label for="job_seeker_email">Job Seeker Email</label>
                                <input type="text" pInputText id="job_seeker_email" formControlName="job_seeker_email" required autofocus/>
                            </div>
                            <div class="field">
                                <label for="job_seeker_contact">Job Seeker Contact</label>
                                <input type="text" pInputText id="job_seeker_contact" formControlName="job_seeker_contact" required autofocus/>
                            </div>
                            <div class="field">
                                
                                <label for="active_date">Date Posted</label>
                                <input type="date" pInputText id="active_date" formControlName="active_date" required autofocus/>
                            </div>
                            <div class="field">
                                <label for="deployment_date">Date of Submission</label>
                                <input type="date" pInputText id="deployment_date" formControlName="deployment_date" required autofocus/>
                            </div>
                        </form>
            
                        <ng-template pTemplate="footer">
                            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="uploadFile()"></button>
                        </ng-template>
                    </p-dialog>
            
                    <p-dialog [(visible)]="deleteJobDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
                        <div class="flex align-items-center justify-content-center">
                            <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                            <span *ngIf="job">Are you sure you want to delete <b>{{job.name}}</b>?</span>
                        </div>
                        <ng-template pTemplate="footer">
                            <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteJobDialog = false"></button>
                            <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
                        </ng-template>
                    </p-dialog>
            
                    <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
                        <div class="flex align-items-center justify-content-center">
                            <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                            <span>Are you sure you want to delete selected jobs?</span>
                        </div>
                        <ng-template pTemplate="footer">
                            <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductsDialog = false"></button>
                            <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
                        </ng-template>
                    </p-dialog>
                </div>
            </div>
            

        </div>



        <div class="col-12">
            <div class="card grid mt-3 announcement-container" *ngIf="isActiveButton == 'personal'">
                <div class="col-12">
                    <p-dataView #dv [value]="upcomingEvents" [paginator]="true" [rows]="9" filterBy="name" [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
                        <ng-template pTemplate="header">
                            <div class="grid grid-nogutter flex-column md:flex-row justify-content-between">
                                <div class="grid">
                                    <div class="col-12 md:col-6">
                                        <h5>Events</h5>
                                    </div>
                                    <div class="col-12 md:col-6">
                                        <span class="p-input-icon-left mb-2 md:mb-0">
                                            <i class="pi pi-search"></i>
                                            <input type="search" pInputText placeholder="Search by Name" (input)="dv.filter($event.target.value)">
                                        </span>	
                                    </div>
                                </div>
                                <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                            </div>
                        </ng-template>
        
                        <ng-template let-event pTemplate="listItem">
                            <div class="col-12" (click)="viewEvent(event)">
                                <div class="flex flex-column md:flex-row align-items-center p-3 w-full">
                                    <img [src]="'http://localhost:3001' + event.image_url" [alt]="event.name" class="my-4 md:my-0 img-h img-h w-5 md:w-10rem shadow-2 mr-5"/>
                                    <div class="flex-1 text-center md:text-left">
                                        <div class="font-bold">Title: {{event.title}}</div>
                                        <div class="mb-3">Venue: {{event.venue}}</div>
                                        <div class="mb-3">Date: {{event.date | date}}</div>
                                        <!-- <div class="mb-3">
                                            <span class="warning-span" *ngIf="event.status == 0">{{event.status == 0 ? 'Pending' : ''}}</span>
                                            <span class="success-span" *ngIf="event.status == 1">{{event.status == 1 ? 'Accepted' : ''}}</span>
                                            <span  class="danger-span" *ngIf="event.status == 2">{{event.status == 2 ? 'Rejected' : ''}}</span>
                                        </div> -->
                                        <!-- <div class="flex align-items-center mt-2">
                                            <button pButton pRipple type="button" label="APPROVED" class="p-button-success mr-2 mb-2"></button>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </ng-template>
        
                        <ng-template let-event pTemplate="gridItem">
                            <div class="col-12 md:col-4" (click)="viewEvent(event)">
                                <div class="card m-3 border-1 surface-border">
                                    <div class="flex align-items-center justify-content-between">
                                        <div class="flex align-items-center">
                                            
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <img [src]="'http://localhost:3001' + event.image_url" [alt]="event.name" class="img-h img-h shadow-2 my-3 mx-0"/>
                                    </div>
                                    <div class="text-start">
                                        <div><b>Title:</b> {{event.title}}</div>
                                        <div><b>Venue:</b> {{event.venue}}</div>
                                        <div class="mb-3">Date: {{event.date | date}}</div>
                                        <!-- <div class="mb-3">
                                            <span class="warning-span" *ngIf="event.status == 0">{{event.status == 0 ? 'Pending' : ''}}</span>
                                            <span class="success-span" *ngIf="event.status == 1">{{event.status == 1 ? 'Accepted' : ''}}</span>
                                            <span  class="danger-span" *ngIf="event.status == 2">{{event.status == 2 ? 'Rejected' : ''}}</span>
                                        </div> -->
                                        <!-- <div class="mb-3"><button pButton pRipple type="button" label="APPROVED" class="p-button-success mr-2 mb-2"></button></div> -->
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </p-dataView>
                </div>

                <app-view-event *ngIf="showViewEventDialog" [eventDialogStat]="showViewEventDialog" [eventData]="selectedEvent"></app-view-event>
            </div>
        </div>

        <div class="col-12">
            <div class="card grid mt-3 announcement-container">
                <div class="col-12">
                    <p-dataView #dv [value]="jobs" [paginator]="true" [rows]="9" filterBy="name" [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
                        <ng-template pTemplate="header">
                            <div class="grid grid-nogutter flex-column md:flex-row justify-content-between">
                                <div class="grid">
                                    <div class="col-12 md:col-6">
                                        <h5>Latest Job Posts</h5>
                                    </div>
                                    <div class="col-12 md:col-6">
                                        <span class="p-input-icon-left mb-2 md:mb-0">
                                            <i class="pi pi-search"></i>
                                            <input type="search" pInputText placeholder="Search by Name" (input)="dv.filter($event.target.value)">
                                        </span>	
                                    </div>
                                </div>
                                <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                            </div>
                        </ng-template>
        
                        <ng-template let-job pTemplate="listItem">
                            <div class="col-12" (click)="viewJob(job)">
                                <div class="flex flex-column md:flex-row align-items-center p-3 w-full">
                                    <img [src]="'http://localhost:3001' + job.image_url" [alt]="job.name" class="my-4 md:my-0 img-h img-h w-5 md:w-10rem shadow-2 mr-5"/>
                                    <div class="flex-1 text-center md:text-left">
                                        <div><b>Job Vacancy</b></div>
                                        <div>{{job.title}}</div>
                                        <div><b>Company</b></div>
                                        <div>{{job.company_name}}</div>
                                        <div>Date {{job.active_date}}</div>
                                        <!-- <div class="font-bold">Company: {{job.company_name}}</div>
                                        <div class="mb-3">Address: {{job.company_address}}</div>
                                        <div class="mb-3">Deployment Date: {{job.active_date | date}}</div> -->
                                        <div class="mb-3">
                                            <span class="warning-span" *ngIf="job.status == 0">{{job.status == 0 ? 'Pending' : ''}}</span>
                                            <span class="success-span" *ngIf="job.status == 1">{{job.status == 1 ? 'Accepted' : ''}}</span>
                                            <span  class="danger-span" *ngIf="job.status == 2">{{job.status == 2 ? 'Rejected' : ''}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
        
                        <ng-template let-job pTemplate="gridItem">
                            <div class="col-12 md:col-4" (click)="viewJob(job)">
                                <div class="card m-3 border-1 surface-border">
                                    <div class="flex align-items-center justify-content-center">
                                        <div class="flex align-items-center">
                                            <div class="font-bold text-2xl">Company: {{job.company_name}}</div>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <img [src]="'http://localhost:3001' + job.image_url" [alt]="job.name" class="img-h img-h shadow-2 my-3 mx-0"/>
        
                                        <!-- <div><span class="font-semibold">Address: {{job.company_address}}</span></div>
                                        <div class="mb-3">Deployment Date: {{job.active_date | date}}</div>
                                        <div class="mb-3">
                                            <span class="warning-span" *ngIf="job.status == 0">{{job.status == 0 ? 'Pending' : ''}}</span>
                                            <span class="success-span" *ngIf="job.status == 1">{{job.status == 1 ? 'Accepted' : ''}}</span>
                                            <span  class="danger-span" *ngIf="job.status == 2">{{job.status == 2 ? 'Rejected' : ''}}</span>
                                        </div> -->
                                        <div><b>Job Vacancy</b></div>
                                        <div>{{job.position}}</div>
                                        <div><b>Company</b></div>
                                        <div>{{job.company_name}}</div>
                                        <div>Date: {{job.active_date}}</div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </p-dataView>
                </div>

                <app-view-job *ngIf="showViewJobDialog" [jobDialogStat]="showViewJobDialog" [jobData]="selectedJob"></app-view-job>
            </div>
        </div>

      <!--   <div class="col-12 md:col-12 lg:col-4">
            <p-panel header="Contacts" styleClass="contacts">
                <ul>
                    <li>
                        <img src="assets/layout/images/avatar-brooke.png" alt="ecuador-layout" />
                        <div class="separator"></div>
                        <div class="team-box">
                            <span class="team-member">Brooke Wright</span>
                            <div>
                                <i class="pi pi-envelope"></i>
                                <span class="team-member-mail">brooke@test.com</span>
                            </div>
                            <div>
                                <i class="pi pi-map-marker"></i>
                                <span class="team-member-address">153 Cold Valley Road</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="assets/layout/images/avatar-maggie.png" alt="ecuador-layout" />
                        <div class="separator"></div>
                        <div class="team-box">
                            <span class="team-member">Maggie Walker</span>
                            <div>
                                <i class="pi pi-envelope"></i>
                                <span class="team-member-mail">maggie@test.com</span>
                            </div>
                            <div>
                                <i class="pi pi-map-marker"></i>
                                <span class="team-member-address">5698 Anderson Street</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <img src="assets/layout/images/avatar-tom.png" alt="ecuador-layout" />
                        <div class="separator"></div>
                        <div class="team-box">
                            <span class="team-member">Tom Baker</span>
                            <div>
                                <i class="pi pi-envelope"></i>
                                <span class="team-member-mail">tom@example.com</span>
                            </div>
                            <div>
                                <i class="pi pi-map-marker"></i>
                                <span class="team-member-address">2304 Billy Bill Lane</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </p-panel>
        </div>
        <div class="col-12 md:col-12 lg:col-4">
            <p-panel header="Tasks" styleClass="tasks">
                <ul>
                    <li>
                        <p-checkbox binary="true"></p-checkbox>
                        <span>Sales Reports</span>
                        <div class="time-badge">
                            <span>TODAY</span>
                        </div>
                    </li>
                    <li>
                        <p-checkbox binary="true"></p-checkbox>
                        <span>Pay Invoices</span>
                        <div class="time-badge">
                            <span>1 D</span>
                        </div>
                    </li>
                    <li>
                        <p-checkbox binary="true"></p-checkbox>
                        <span>Jenny's Birthday</span>
                        <div class="time-badge">
                            <span>1 D</span>
                        </div>
                    </li>
                    <li>
                        <p-checkbox binary="true"></p-checkbox>
                        <span>Client Meeting</span>
                        <div class="time-badge">
                            <span>2 D</span>
                        </div>
                    </li>
                    <li>
                        <p-checkbox binary="true"></p-checkbox>
                        <span>Flight Ticket</span>
                        <div class="time-badge">
                            <span>5 D</span>
                        </div>
                    </li>
                    <li>
                        <p-checkbox binary="true"></p-checkbox>
                        <span>New Themes</span>
                        <div class="time-badge">
                            <span>LATER</span>
                        </div>
                    </li>
                </ul>
            </p-panel>
        </div>
        <div class="col-12 md:col-12 lg:col-4">
            <p-panel header="Resolution Center" styleClass="resolution-center">
                <div class="grid">
                    <div class="col-12">
                        <input type="text" pInputText placeholder="Name">
                    </div>
                    <div class="col-12">
                        <p-dropdown [options]="cities" [(ngModel)]="selectedCity"></p-dropdown>
                    </div>
                    <div class="col-12">
                        <textarea type="text" pInputTextarea placeholder="Message"></textarea>
                    </div>
                    <div class="col-12">
                        <button type="button" label="Send" pButton></button>
                    </div>
                </div>
            </p-panel>
        </div>
        <div class="col-12 md:col-12 lg:col-12 xl:col-6">
            <p-panel header="Statistics" styleClass="statistics">
                <div class="grid">
                    <div class="col-12 md:col-6 lg:col-6 xl:col-6 stats-left">
                        <div>
                            <i class="pi pi-arrow-up"></i>
                            <span>50%</span>
                            <i class="pi pi-dollar"></i>
                            <span>75%</span>
                            <i class="pi pi-replay"></i>
                            <span>25%</span>
                        </div>
                        <div class="knob-container">
                            <div class="knob">81%</div>
                        </div>
                        <div class="details">
                            <span>See Details</span>
                            <i class="pi pi-chevron-right"></i>
                        </div>
                    </div>
                    <div class="col-12 md:col-6 lg:col-6 xl:col-6 stats-right">
                        <i class="pi pi-arrow-up"></i>
                        <span class="icon-label">Raised</span>
                        <span>$ 85,397</span>
                        <div class="statsbar">
                            <div class="statsbar-value" style="width: 50%"></div>
                        </div>
                        <i class="pi pi-dollar"></i>
                        <span class="icon-label">Current Period Price</span>
                        <span>$ 194</span>
                        <div class="statsbar">
                            <div class="statsbar-value" style="width: 75%"></div>
                        </div>
                        <i class="pi pi-replay"></i>
                        <span class="icon-label">Remaining</span>
                        <span>16:01:53</span>
                        <div class="statsbar">
                            <div class="statsbar-value" style="width: 25%"></div>
                        </div>
                    </div>
                </div>
            </p-panel>
        </div>
        <div class="col-12 md:col-12 lg:col-12 xl:col-6">
            <p-panel header="Global Sales" styleClass="global-sales">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th class="country">Country</th>
                            <th>Total</th>
                            <th>Percentage</th>
                            <th>Change</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td class="country">
                                <img src="assets/layout/images/flag-usa.png" alt="ecuador-layout" />
                                <span>USA</span>
                            </td>
                            <td>91,382 $</td>
                            <td>71%</td>
                            <td>
                                <i class="pi pi-caret-up up"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td class="country">
                                <img src="assets/layout/images/flag-brasil.png" alt="ecuador-layout" />
                                <span>Brasil</span>
                            </td>
                            <td>1,902 $</td>
                            <td>9%</td>
                            <td>
                                <i class="pi pi-caret-down down"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td class="country">
                                <img src="assets/layout/images/flag-india.png" alt="ecuador-layout" />
                                <span>India</span>
                            </td>
                            <td>3,418 $</td>
                            <td>19%</td>
                            <td>
                                <i class="pi pi-caret-down down"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td class="country">
                                <img src="assets/layout/images/flag-germany.png" alt="ecuador-layout" />
                                <span>Germany</span>
                            </td>
                            <td>74,293 $</td>
                            <td>62%</td>
                            <td>
                                <i class="pi pi-caret-up up"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td class="country">
                                <img src="assets/layout/images/flag-spain.png" alt="ecuador-layout" />
                                <span>Spain</span>
                            </td>
                            <td>32,849 $</td>
                            <td>28%</td>
                            <td>
                                <i class="pi pi-caret-down down"></i>
                            </td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td class="country">
                                <img src="assets/layout/images/flag-france.png" alt="ecuador-layout" />
                                <span>France</span>
                            </td>
                            <td>40,619 $</td>
                            <td>34%</td>
                            <td>
                                <i class="pi pi-caret-up up"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </p-panel>
        </div>
        <div class="col-12 md:col-12 lg:col-4">
            <p-panel styleClass="profile">
                <div class="bg-image">
                </div>
                <div class="profile-info">
                    <img src="assets/layout/images/avatar-jeniffer.png" alt="ecuador-layout" class="profile-image" />

                    <span class="name">Jeniffer Reynolds</span>
                    <div>
                        <i class="pi pi-briefcase"></i>
                        <span class="job">Human Resource Manager</span>
                    </div>
                    <div>
                        <i class="pi pi-map-marker"></i>
                        <span class="location">Seattle</span>
                    </div>
                    <div>
                        <div class="profile-numbers">
                            <span class="header">Views</span>
                            <span class="number">381</span>
                        </div>
                        <div class="profile-numbers">
                            <span class="header">Followers</span>
                            <span class="number">492</span>
                        </div>
                        <div class="profile-numbers">
                            <span class="header">Likes</span>
                            <span class="number">1,395</span>
                        </div>
                    </div>
                </div>
            </p-panel>

            <p-panel header="Account Timeline" styleClass="timeline">
                <ul>
                    <li>
                        <div class="date-indicator">
                            <span class="date">today</span>
                            <span class="time">08:32</span>
                        </div>
                        <div class="activity-link"></div>
                        <i class="pi pi-fw pi-circle-on success"></i>
                        <div class="timeline-subject">
                            <span class="timeline-header">Login to system</span>
                            <span class="timeline-subheader">automatic login</span>
                        </div>
                        <i class="pi pi-desktop device success"></i>
                    </li>
                    <li>
                        <div class="date-indicator">
                            <span class="date">today</span>
                            <span class="time">00:07</span>
                        </div>
                        <div class="activity-link"></div>
                        <i class="pi pi-fw pi-circle-on success"></i>
                        <div class="timeline-subject">
                            <span class="timeline-header">Login to system</span>
                            <span class="timeline-subheader">automatic login</span>
                        </div>
                        <i class="pi pi-tablet device success"></i>
                    </li>
                    <li>
                        <div class="date-indicator">
                            <span class="date">1 d</span>
                            <span class="time">13:37</span>
                        </div>
                        <div class="activity-link"></div>
                        <i class="pi pi-fw pi-circle-on error"></i>
                        <div class="timeline-subject">
                            <span class="timeline-header">Usename error</span>
                            <span class="timeline-subheader">changed username</span>
                        </div>
                        <i class="pi pi-desktop device error"></i>
                    </li>
                    <li>
                        <div class="date-indicator">
                            <span class="date">1 d</span>
                            <span class="time">08:30</span>
                        </div>
                        <div class="activity-link"></div>
                        <i class="pi pi-fw pi-circle-on success"></i>
                        <div class="timeline-subject">
                            <span class="timeline-header">Login to system</span>
                            <span class="timeline-subheader">manual login</span>
                        </div>
                        <i class="pi pi-desktop device success"></i>
                    </li>
                    <li>
                        <div class="date-indicator">
                            <span class="date">2 d</span>
                            <span class="time">13:41</span>
                        </div>
                        <div class="activity-link"></div>
                        <i class="pi pi-fw pi-circle-on success"></i>
                        <div class="timeline-subject">
                            <span class="timeline-header">Login to system</span>
                            <span class="timeline-subheader">automatic login</span>
                        </div>
                        <i class="pi pi-desktop device success"></i>
                    </li>
                    <li>
                        <div class="date-indicator">
                            <span class="date">2 d</span>
                            <span class="time">09:03</span>
                        </div>
                        <div class="activity-link"></div>
                        <i class="pi pi-fw pi-circle-on error"></i>
                        <div class="timeline-subject">
                            <span class="timeline-header">Incorrect password</span>
                            <span class="timeline-subheader">access denied</span>
                        </div>
                        <i class="pi pi-mobile device error"></i>
                    </li>
                    <li>
                        <div class="date-indicator">
                            <span class="date">3 d</span>
                            <span class="time">23:48</span>
                        </div>
                        <div class="activity-link"></div>
                        <i class="pi pi-fw pi-circle-on success"></i>
                        <div class="timeline-subject">
                            <span class="timeline-header">Login to system</span>
                            <span class="timeline-subheader">retina scan</span>
                        </div>
                        <i class="pi pi-mobile device success"></i>
                    </li>
                    <li>
                        <div class="date-indicator">
                            <span class="date">3 d</span>
                            <span class="time">13:33</span>
                        </div>
                        <div class="activity-link"></div>
                        <i class="pi pi-fw pi-circle-on code"></i>
                        <div class="timeline-subject">
                            <span class="timeline-header">Exceptional error</span>
                            <span class="timeline-subheader">Code 2ff26982284</span>
                        </div>
                        <i class="pi pi-desktop device code"></i>
                    </li>
                    <li>
                        <div class="date-indicator">
                            <span class="date">13 d</span>
                            <span class="time">08:39</span>
                        </div>
                        <div class="activity-link"></div>
                        <i class="pi pi-fw pi-circle-on success"></i>
                        <div class="timeline-subject">
                            <span class="timeline-header">Login to system</span>
                            <span class="timeline-subheader">automatic login</span>
                        </div>
                        <i class="pi pi-desktop device success"></i>
                    </li>
                </ul>
            </p-panel>
        </div>
        <div class="col-12 md:col-12 lg:col-8">
            <p-panel header="Inbox" styleClass="inbox">
                <ul>
                    <li>
                        <div class="image-container">
                            <img src="assets/layout/images/avatar-maggie.png" alt="ecuador-layout" />
                        </div>
                        <div class="separator"></div>
                        <div class="message-box">
                            <span class="messager">Maggie Walker</span>
                            <span class="time">23 mins</span>
                            <span class="message">It is a long established fact that a reader will be distracted by the readable content of a page
                                when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
                                normal distribu…</span>
                        </div>
                        <div class="message-status">
                            <i class="pi pi-circle-on"></i>
                            <span>562</span>
                        </div>
                    </li>
                    <li>
                        <div class="image-container">
                            <img src="assets/layout/images/avatar-brooke.png" alt="ecuador-layout" />
                        </div>
                        <div class="separator"></div>
                        <div class="message-box">
                            <span class="messager">Brooke Wright</span>
                            <span class="time">5 hours</span>
                            <span class="message">It is a long established fact that a reader will be distracted by the readable content of a page
                                when looking at its layout.</span>
                        </div>
                        <div class="message-status">
                            <i class="pi pi-circle-on"></i>
                            <span>149</span>
                        </div>
                    </li>
                    <li>
                        <div class="image-container">
                            <img src="assets/layout/images/avatar-tom.png" alt="ecuador-layout" />
                        </div>
                        <div class="separator"></div>
                        <div class="message-box">
                            <span class="messager">Tom Baker</span>
                            <span class="time">19 hours</span>
                            <span class="message">It is a long established fact that a reader will be distracted by the readable content.</span>
                        </div>
                        <div class="message-status">
                            <i class="pi pi-circle-on unread"></i>
                            <span>74</span>
                        </div>
                    </li>
                    <li>
                        <div class="image-container">
                            <img src="assets/layout/images/avatar-lucas.png" alt="ecuador-layout" />
                        </div>
                        <div class="separator"></div>
                        <div class="message-box">
                            <span class="messager">Lucas Fox</span>
                            <span class="time">1 day</span>
                            <span class="message">It is a long established fact that a reader will be distracted by the readable contentof a page
                                when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
                                normal.
                            </span>
                        </div>
                        <div class="message-status">
                            <i class="pi pi-circle-on unread"></i>
                            <span>250</span>
                        </div>
                    </li>
                </ul>
            </p-panel>

            <p-panel header="Projects" styleClass="projects">
                <ul>
                    <li>
                        <div class="project-info">
                            <span class="project-name">Morpheus</span>
                            <span class="project-firm">PrimeFaces</span>
                        </div>
                        <div class="person-container">
                            <div class="persons">
                                <img src="assets/layout/images/faces-morpheus.png" alt="ecuador-layout" />
                            </div>
                            <span>24 people interested</span>
                        </div>
                        <div class="button">
                            <button type="button" label="See Details" pButton></button>
                        </div>
                    </li>
                    <li>
                        <div class="project-info">
                            <span class="project-name">Ultima</span>
                            <span class="project-firm">PrimeFaces</span>
                        </div>
                        <div class="person-container">
                            <div class="persons">
                                <img src="assets/layout/images/faces-ultima.png" alt="ecuador-layout" />
                            </div>
                            <span>32 people interested</span>
                        </div>
                        <div class="button">
                            <button type="button" label="See Details" pButton></button>
                        </div>
                    </li>
                    <li>
                        <div class="project-info">
                            <span class="project-name">Poseidon</span>
                            <span class="project-firm">PrimeFaces</span>
                        </div>
                        <div class="person-container">
                            <div class="persons">
                                <img src="assets/layout/images/faces-poseidon.png" alt="ecuador-layout" />
                            </div>
                            <span>37 people interested</span>
                        </div>
                        <div class="button">
                            <button pButton type="button" label="See Details"></button>
                        </div>
                    </li>
                </ul>
            </p-panel>

            <p-panel header="Inventory" styleClass="inventory">
                <p-table [value]="products" [paginator]="true" [rows]="5" styleClass="p-datatable-customers">
					<ng-template pTemplate="header">
						<tr>
							<th pSortableColumn="id">ID
								<p-sortIcon field="id"></p-sortIcon>
							</th>
							<th pSortableColumn="category">Category
								<p-sortIcon field="category"></p-sortIcon>
							</th>
							<th pSortableColumn="price">Price
								<p-sortIcon field="price"></p-sortIcon>
							</th>
							<th pSortableColumn="inventoryStatus">Status
								<p-sortIcon field="inventoryStatus"></p-sortIcon>
							</th>
							<th></th>
						</tr>
					</ng-template>
					<ng-template pTemplate="body" let-product>
						<tr>
							<td>
								<span class="p-column-title">Id</span>
								{{product.id}}</td>
							<td>
								<span class="p-column-title">Category</span>
								{{product.category}}</td>
							<td>
								<span class="p-column-title">Price</span>
								{{product.price | currency:'USD'}}</td>
							<td>
								<span class="p-column-title">Status</span>
								<span [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>
							</td>
							<td style="text-align: center">
								<button pButton type="button" icon="pi pi-search"></button>
							</td>
						</tr>
					</ng-template>
				</p-table>
            </p-panel>
        </div>
        <div class="col-12 md:col-12 lg:col-12">
            <p-panel header="Upcoming Events" [style]="{'height':'100%'}">
                <full-calendar [options]="fullcalendarOptions" ></full-calendar>
            </p-panel>
        </div> -->
    </div>
</div>
