<div class="layout-dashboard">
    <div class="grid">
        <div class="col-12 md:col-6 lg:col-4">
            <div class="overview-box sales" (click)="visibleEvent = true">
                <img src="assets/layout/images/icon-sales.png" alt="ecuador-layout" class="image-icon" />
                <div class="overview-title">EVENTS</div>
                <div class="overview-numbers">
                    {{dashboard_count?.event_posts ?? 0}}
                </div>
            </div>
        </div>

        <p-sidebar styleClass="p-sidebar-lg" [(visible)]="visibleEvent" position="right" [baseZIndex]="10000">
            <app-event></app-event>
        </p-sidebar>x`

        <div class="col-12 md:col-6 lg:col-4">
            <div class="overview-box views"  (click)="visibleJob = true">
                <img src="assets/layout/images/icon-views.png" alt="ecuador-layout" style="margin-top:10px" />
                <div class="overview-title">JOBS</div>
                <div class="overview-numbers">
                    {{dashboard_count?.job_posts ?? 0}}
                </div>
            </div>
        </div>

        <p-sidebar styleClass="p-sidebar-lg" [(visible)]="visibleJob" position="right" [baseZIndex]="10000">
            <app-job-portal></app-job-portal>
        </p-sidebar>

        <div class="col-12 md:col-6 lg:col-4">
            <div class="overview-box checkins"  (click)="visibleAlumni = true">
                <img src="assets/layout/images/icon-checkin.png" alt="ecuador-layout" class="image-icon" />
                <div class="overview-title">ALUMNI</div>
                <div class="overview-numbers">
                    {{dashboard_count?.alumni ?? 0}}
                </div>
            </div>
        </div>

        <p-sidebar styleClass="p-sidebar-lg" [(visible)]="visibleAlumni" position="right" [baseZIndex]="10000">
            <app-account></app-account>
        </p-sidebar>
                        
        <div class="col-12 md:col-9">
            <div class="col-12">
                <div class="grid p-fluid">  
                    <div class="col-12 lg:col-6">
                        <div class="card">
                            <h5>Registered Alumni</h5>
                            <p-chart type="line" [data]="lineData" [options]="lineOptions" [style]="{'width': '50%'}"></p-chart>
                        </div>
                    </div>
                    <div class="col-12 lg:col-6">
                        <div class="card">
                            <h5>Employment Status</h5>
                            <p-chart type="bar" [data]="barData" [options]="barOptions"></p-chart>
                        </div>
                    </div>
                    <div class="col-12 lg:col-6">
                        <div class="card flex flex-column align-items-center">
                            <h5 class="text-left w-full">IT Related</h5>
                            <p-chart type="pie" [data]="pieDataItRelated" [options]="pieOptions" [style]="{'width': '50%'}"></p-chart>
                        </div>
    
                    </div>
                    <div class="col-12 lg:col-6">
                        <div class="card flex flex-column align-items-center">
                            <h5 class="text-left w-full">Goverment Sector</h5>
                            <p-chart type="pie" [data]="pieDataGovSect" [options]="pieOptions" [style]="{'width': '50%'}"></p-chart>
                        </div>
                    </div>
                </div>            
            </div>
        </div>


        <div class="col-12 md:col-3">
            
            <div class="grid">
                <div class="col-12">
                    <div class="card" style="max-height: 468px; overflow: scroll;">
                        <p-toast key="tst" [baseZIndex]="99999"></p-toast>
                        <p-table #dt [value]="jobs" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['company_name','company_email','batch_year','company_address']" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedJobs" selectionMode="multiple" [rowHover]="true" dataKey="id">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="company_name">Company Name <p-sortIcon field="company_name"></p-sortIcon></th>
                                
                                    <th class="custom-w-th" pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-job>
                                <tr (click)="viewJob(job)">
                                    <td style="width:14%; min-width:10rem;"><span class="p-column-title">Company Name</span>
                                        {{job.company_name}}
                                    </td>
                                    
                                    <td style="width:14%; min-width:10rem;">
                                        <span class="p-column-title">Status</span>
                                        <span class="warning-span" *ngIf="job.status == 0">{{job.status == 0 ? 'Pending' : ''}}</span>
                                        <span class="success-span" *ngIf="job.status == 1">{{job.status == 1 ? 'Accepted' : ''}}</span>
                                        <span  class="danger-span" *ngIf="job.status == 2">{{job.status == 2 ? 'Rejected' : ''}}</span>
                                    </td>
                                    <td>
                                        <div class="flex">
                                            <button pButton pRipple label="Accept" class="p-button-success mr-2" (click)="acceptJob(job.id)"></button>
                                            <button pButton pRipple label="Reject" class="p-button-danger mr-2" (click)="rejectJob(job.id)"></button>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <app-view-job *ngIf="showViewDialog" [jobDialogStat]="showViewDialog" [jobData]="selectedJob"></app-view-job>
                    </div>
            
                    <p-dialog [(visible)]="jobDialog" [style]="{width: '450px'}" header="Add New Job Post" [modal]="true" class="p-fluid">
                        <form role="form" [formGroup]="formJob">
                            <input type="file" (change)="onFileSelected($event)" />
                            <div class="field mt-2">
                                <label for="company_name">Company Name</label>
                                <input type="text" pInputText id="company_name" formControlName="company_name" required autofocus/>
                            </div>
                            <div class="field">
                                <label for="company_email">Company Email</label>
                                <input type="text" pInputText id="company_email" formControlName="company_email" required autofocus/>
                            </div>
                            <div class="field">
                                <label for="company_address">Company Address</label>
                                <input type="text" pInputText id="company_address" formControlName="company_address" required autofocus/>
                            </div>
                            <div class="field">
                                <label for="position">Position</label>
                                <input type="text" pInputText id="position" formControlName="position" required autofocus/>
                            </div>
                            <div class="field">
                                <label for="qualification">Qualifications</label>
                                <input type="text" pInputText id="qualification" formControlName="qualification" required autofocus/>
                            </div>
                            <div class="field">
                                <label for="job_seeker_email">Job Seeker Email</label>
                                <input type="text" pInputText id="job_seeker_email" formControlName="job_seeker_email" required autofocus/>
                            </div>
                            <div class="field">
                                <label for="job_seeker_contact">Job Seeker Contact</label>
                                <input type="text" pInputText id="job_seeker_contact" formControlName="job_seeker_contact" required autofocus/>
                            </div>
                            <div class="field">
                                
                                <label for="active_date">Date Posted</label>
                                <input type="date" pInputText id="active_date" formControlName="active_date" required autofocus/>
                            </div>
                            <div class="field">
                                <label for="deployment_date">Date of Submission</label>
                                <input type="date" pInputText id="deployment_date" formControlName="deployment_date" required autofocus/>
                            </div>
                        </form>
            
                        <ng-template pTemplate="footer">
                            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="uploadFile()"></button>
                        </ng-template>
                    </p-dialog>
            
                    <p-dialog [(visible)]="deleteJobDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
                        <div class="flex align-items-center justify-content-center">
                            <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                            <span *ngIf="job">Are you sure you want to delete <b>{{job.name}}</b>?</span>
                        </div>
                        <ng-template pTemplate="footer">
                            <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteJobDialog = false"></button>
                            <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
                        </ng-template>
                    </p-dialog>
            
                    <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
                        <div class="flex align-items-center justify-content-center">
                            <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                            <span>Are you sure you want to delete selected jobs?</span>
                        </div>
                        <ng-template pTemplate="footer">
                            <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductsDialog = false"></button>
                            <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
                        </ng-template>
                    </p-dialog>
                </div>
            </div>
            

        </div>



        <div class="col-12">
            <div class="card grid mt-3 announcement-container">
                <div class="col-12">
                    <p-dataView #dv [value]="events" [paginator]="true" [rows]="9" filterBy="name" [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
                        <ng-template pTemplate="header">
                            <div class="grid grid-nogutter flex-column md:flex-row justify-content-between">
                                <div class="grid">
                                    <div class="col-12 md:col-6">
                                        <h5>Current Events</h5>
                                    </div>
                                    <div class="col-12 md:col-6">
                                        <span class="p-input-icon-left mb-2 md:mb-0">
                                            <i class="pi pi-search"></i>
                                            <input type="search" pInputText placeholder="Search by Name" (input)="dv.filter($event.target.value)">
                                        </span>	
                                    </div>
                                </div>
                                <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                            </div>
                        </ng-template>
        
                        <ng-template let-event pTemplate="listItem">
                            <div class="col-12" (click)="viewEvent(event)">
                                <div class="flex flex-column md:flex-row align-items-center p-3 w-full">
                                    <img [src]="'http://localhost:3001' + event.image_url" [alt]="event.name" class="my-4 md:my-0 img-h img-h w-5 md:w-10rem shadow-2 mr-5"/>
                                    <div class="flex-1 text-center md:text-left">
                                        <div class="font-bold">Title: {{event.title}}</div>
                                        <div class="mb-3">Venue: {{event.venue}}</div>
                                        <div class="mb-3">Date: {{event.date | date}}</div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
        
                        <ng-template let-event pTemplate="gridItem">
                            <div class="col-12 md:col-4" (click)="viewCurrentEvent(event)">
                                <div class="card m-3 border-1 surface-border">
                                    <div class="flex align-items-center justify-content-between">
                                        <div class="flex align-items-center">
                                            
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <img [src]="'http://localhost:3001' + event.image_url" [alt]="event.name" class="img-h img-h shadow-2 my-3 mx-0"/>
                                    </div>
                                    <div class="text-start">
                                        <div><b>Title:</b> {{event.title}}</div>
                                        <div><b>Venue:</b> {{event.venue}}</div>
                                        <div>Date From: {{event.date_from | date}}</div>
                                        <div class="mb-3">Date To: {{event.date_to | date}}</div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </p-dataView>
                </div>
                
                <p-dialog [(visible)]="showViewCurrentEventDialog" [style]="{width: '450px'}" header="Add New Event Post" [modal]="true" class="p-fluid">
                    <app-view-event *ngIf="showViewCurrentEventDialog" [eventDialogStat]="showViewCurrentEventDialog" [eventData]="selectedCurrentEvent"></app-view-event>
                </p-dialog>
            </div>
        </div>

        <div class="col-12">
            <div class="card grid mt-3 announcement-container">
                <div class="col-12">
                    <p-dataView #dv [value]="upcomingEvents" [paginator]="true" [rows]="9" filterBy="name" [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
                        <ng-template pTemplate="header">
                            <div class="grid grid-nogutter flex-column md:flex-row justify-content-between">
                                <div class="grid">
                                    <div class="col-12 md:col-6">
                                        <h5>Upcoming Events</h5>
                                    </div>
                                    <div class="col-12 md:col-6">
                                        <span class="p-input-icon-left mb-2 md:mb-0">
                                            <i class="pi pi-search"></i>
                                            <input type="search" pInputText placeholder="Search by Name" (input)="dv.filter($event.target.value)">
                                        </span>	
                                    </div>
                                </div>
                                <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                            </div>
                        </ng-template>
        
                        <ng-template let-event pTemplate="listItem">
                            <div class="col-12" (click)="viewEvent(event)">
                                <div class="flex flex-column md:flex-row align-items-center p-3 w-full">
                                    <img [src]="'http://localhost:3001' + event.image_url" [alt]="event.name" class="my-4 md:my-0 img-h img-h w-5 md:w-10rem shadow-2 mr-5"/>
                                    <div class="flex-1 text-center md:text-left">
                                        <div class="font-bold">Title: {{event.title}}</div>
                                        <div class="mb-3">Venue: {{event.venue}}</div>
                                        <div class="mb-3">Date: {{event.date | date}}</div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
        
                        <ng-template let-event pTemplate="gridItem">
                            <div class="col-12 md:col-4" (click)="viewEvent(event)">
                                <div class="card m-3 border-1 surface-border">
                                    <div class="flex align-items-center justify-content-between">
                                        <div class="flex align-items-center">
                                            
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <img [src]="'http://localhost:3001' + event.image_url" [alt]="event.name" class="img-h img-h shadow-2 my-3 mx-0"/>
                                    </div>
                                    <div class="text-start">
                                        <div><b>Title:</b> {{event.title}}</div>
                                        <div><b>Venue:</b> {{event.venue}}</div>
                                        <div class="mb-3">Date: {{event.date | date}}</div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </p-dataView>
                </div>
                <p-dialog [(visible)]="showViewEventDialog" [style]="{width: '450px'}" header="Add New Event Post" [modal]="true" class="p-fluid">
                    <app-view-event *ngIf="showViewEventDialog" [eventDialogStat]="showViewEventDialog" [eventData]="selectedEvent"></app-view-event>
                </p-dialog>
            </div>
        </div>

        <div class="col-12">
            <div class="card grid mt-3 announcement-container">
                <div class="col-12">
                    <p-dataView #dv [value]="jobs" [paginator]="true" [rows]="9" filterBy="name" [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
                        <ng-template pTemplate="header">
                            <div class="grid grid-nogutter flex-column md:flex-row justify-content-between">
                                <div class="grid">
                                    <div class="col-12 md:col-6">
                                        <h5>Latest Job Posts</h5>
                                    </div>
                                    <div class="col-12 md:col-6">
                                        <span class="p-input-icon-left mb-2 md:mb-0">
                                            <i class="pi pi-search"></i>
                                            <input type="search" pInputText placeholder="Search by Name" (input)="dv.filter($event.target.value)">
                                        </span>	
                                    </div>
                                </div>
                                <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                            </div>
                        </ng-template>
        
                        <ng-template let-job pTemplate="listItem">
                            <div class="col-12" (click)="viewJob(job)">
                                <div class="flex flex-column md:flex-row align-items-center p-3 w-full">
                                    <img [src]="'http://localhost:3001' + job.image_url" [alt]="job.name" class="my-4 md:my-0 img-h img-h w-5 md:w-10rem shadow-2 mr-5"/>
                                    <div class="flex-1 text-center md:text-left">
                                        <div><b>Job Vacancy</b></div>
                                        <div>{{job.title}}</div>
                                        <div><b>Company</b></div>
                                        <div>{{job.company_name}}</div>
                                        <div><b>Company</b></div>
                                        <div>{{job.job_seeker_email}}</div>
                                        <div>Date {{job.active_date}}</div>
                                        <div class="mb-3 mt-2">
                                            <span class="warning-span" *ngIf="job.status == 0">{{job.status == 0 ? 'Pending' : ''}}</span>
                                            <span class="success-span" *ngIf="job.status == 1">{{job.status == 1 ? 'Accepted' : ''}}</span>
                                            <span  class="danger-span" *ngIf="job.status == 2">{{job.status == 2 ? 'Rejected' : ''}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
        
                        <ng-template let-job pTemplate="gridItem">
                            <div class="col-12 md:col-4" (click)="viewJob(job)">
                                <div class="card m-3 border-1 surface-border">
                                    <div class="flex align-items-center justify-content-center">
                                        <div class="flex align-items-center">
                                            <div class="font-bold text-2xl">Company: {{job.company_name}}</div>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <img [src]="'http://localhost:3001' + job.image_url" [alt]="job.name" class="img-h img-h shadow-2 my-3 mx-0"/>
                                        <div><b>Job Vacancy</b></div>
                                        <div>{{job.position}}</div>
                                        <div><b>Company</b></div>
                                        <div>{{job.company_name}}</div>
                                        <div><b>Job Email</b></div>
                                        <div>{{job.job_seeker_email}}</div>
                                        <div class="mt-2">Date: {{job.active_date}}</div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </p-dataView>
                </div>

                <app-view-job *ngIf="showViewJobDialog" [jobDialogStat]="showViewJobDialog" [jobData]="selectedJob"></app-view-job>
            </div>
        </div>

    </div>
</div>
