<div class="login-body">
    <div class="login-image">
        <div class="sign-up-panel">
            <label class="sign-up-lbl">Sign Up</label>
            <div class="grid mt-3">
                <div class="col-12 md:col-6">
                    <div class="login-form">
                        <div class="p-col-12">
                            <span class="p-float-label">
                                <input type="text" id="username" pInputText [(ngModel)]="username">
                                <label for="username">Email</label>
                            </span>
                        </div>
                        <div class="p-col-12">
                            <span class="p-float-label mt-4">
                                <input type="password" autocomplete="off" id="password" pInputText
                                    [(ngModel)]="password">
                                <label for="password">Password</label>
                            </span>
                        </div>
                        <div class="p-col-12">
                            <span class="p-float-label mt-4">
                                <input type="password" autocomplete="off" id="confirm_password" pInputText
                                    [(ngModel)]="confirm_password">
                                <label for="confirm_password">Confirm Password</label>
                            </span>
                        </div>
                        <div class="grid p-fluid mt-4">
                            <div class="col-12">
                                <span class="p-float-label">
                                    <p-dropdown inputId="user_type" [autoDisplayFirst]="false" [options]="user_types"
                                        [(ngModel)]="user_type" optionLabel="user_type"></p-dropdown>
                                    <label for="user_type">User Type</label>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 md:col-6">
                    <div class="p-col-12">
                        <span class="p-float-label">
                            <input type="text" id="first_name" pInputText [(ngModel)]="first_name">
                            <label for="first_name">First Name</label>
                        </span>
                    </div>
                    <div class="p-col-12">
                        <span class="p-float-label mt-4">
                            <input type="text" id="middle_name" pInputText [(ngModel)]="middle_name">
                            <label for="middle_name">Middle Name</label>
                        </span>
                    </div>
                    <div class="p-col-12">
                        <span class="p-float-label mt-4">
                            <input type="text" id="last_name" pInputText [(ngModel)]="last_name">
                            <label for="last_name">Last Name</label>
                        </span>
                    </div>

                    <div class="grid p-fluid">
                        <div class="col-12">
                            <span class="p-float-label input-dropdown mt-5">
                                <p-dropdown inputId="batch_year" [autoDisplayFirst]="false" [options]="batch_year"
                                    [(ngModel)]="batch_year" optionLabel="batch_year"></p-dropdown>
                                <label for="batch_year">Batch year</label>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <button class="mt-2" type="button" pButton label="Submit" [routerLink]="['/homepage']"></button>
            <div class="back-to-login mt-2">
                <a href="#" class="subinfo">
                    <span><i>Back to Login</i></span>
                </a>
            </div>

        </div>
    </div>
</div>