<div class="layout-footer" style="width: 100%; background: #005B58;">
    <div class="grid">
        <div class="col-12 lg:col-4">
            <label style="font-size: large; color: white;">Romblon State University</label><br/>
            <label style="color: white;">Liwanag, Odiongan, Romblon</label>
        </div>

        <div class="col-12 lg:col-4">
            <label style="font-size: large; color: white;">Contact Number</label><br/>
            <label style="color: white;">Telephone #: (042) 567 5273</label>
        </div>

        <div class="col-12 lg:col-4">
            <label  style="font-size: large; color: white;">Email</label><br/>
            <label  style="color: white;">romblonstateu@gmail.com</label>
        </div>
    </div>
</div>
