<div class="layout-topbar" style="background: #005B58">
    <div>
        <a href="#" id="topbar-menu-button" (click)="app.onMenuButtonClick($event)">
            <i class="pi pi-angle-left arrow"></i>
            <i class="pi pi-angle-up mobile"></i>
        </a>
    
        <div class="search-input" style="visibility: hidden;">
            <i class="pi pi-search icon-search"></i>
            <input type="text"/>
        </div>
    
        <a href="/" class="logo-container">
            <img src="assets/images/rsu_logo.png" alt="ecuador-layout" style="height: inherit;" />
        </a>
    
        <a id="topbar-profile-menu-button" href="#" (click)="app.onTopbarMenuButtonClick($event)" style="top: 0;">
            <span>{{myProfile?.first_name}} {{myProfile?.last_name}} | {{userTypeId == '1' ? 'Alumni' : 'Admin'}}</span>
            <img src="assets/layout/images/avatar.png" alt="ecuador-layout" class="topbar-profile" />
            <i class="pi pi-caret-down"></i>
        </a>
    
        <ul id="topbar-usermenu" class="fadeInDown animated" [ngClass]="{'usermenu-active': app.topbarMenuActive}">
            <li>
                <a (click)="showProfile()">
                    <i class="pi pi-fw pi-user"></i>
                    <span class="topbar-item-name">Profile</span>
                </a>
            </li>
            <li>
                <a href="#/login">
                    <i class="pi pi-fw pi-user"></i>
                    <span class="topbar-item-name">Logout</span>
                </a>
            </li>
        </ul>

        <p-dialog class="p-3" [(visible)]="showDialog" header="Profile" [modal]="true" [style]="{width:'auto'}">
            <app-view-profile *ngIf="showDialog" [profile]="myProfile"></app-view-profile>
        </p-dialog>
    
        <!-- <a href="#" id="right-panel-button" [ngClass]="{'menu-button-rotate': app.rightPanelActive}" (click)="app.onRightPanelButtonClick($event)">
            <i class="pi pi-angle-double-left"></i> 
        </a> -->

    </div>
</div>