<div class="layout-topbar" style="background: #005B58; height: 100px;">
    <div>

        <a href="#" id="topbar-menu-button" (click)="app.onMenuButtonClick($event)" style="margin-top: 20px;">
            <i class="pi pi-angle-left arrow"></i>
            <i class="pi pi-angle-up mobile"></i>
        </a>
    
        <div class="search-input">
            <img src="assets/images/logo_home_removebg.png" alt="ecuador-layout" style="height: 80px;" />
            <!-- <i class="pi pi-search icon-search"></i>
            <input type="text"/> -->
        </div>
    
        <!-- <a href="/" class="logo-container">
            <img src="assets/images/it_logo.png" alt="ecuador-layout" style="height: inherit;" />
        </a>  -->

        <!-- <div class="banner-header">
            <div  class="logo-login">

                <div class="flex-row">
                    <img src="assets/images/it_logo.png" alt="ecuador-layout" style="height: 50px;" />
                    <span>
                        <span class="rsu">ROMBLON STATE UNIVERSITY</span><br/>
                        <span class="it">Institute of Information Technology</span>
                    </span> 
                </div>
                
            </div>
        </div> -->
    
        <a id="topbar-profile-menu-button" href="#" (click)="app.onTopbarMenuButtonClick($event)" style="top: 0;">
            <span>{{myProfile?.first_name}} {{myProfile?.last_name}} | {{userTypeId == '1' ? 'User' : 'Admin'}}</span>
            <img src="assets/layout/images/avatar.png" alt="ecuador-layout" class="topbar-profile" />
            <i class="pi pi-caret-down" *ngIf="userTypeId == '1'"></i>
        </a>
    
        <ul id="topbar-usermenu" class="fadeInDown animated" [ngClass]="{'usermenu-active': app.topbarMenuActive}" *ngIf="userTypeId == '1'">
            <li>
                <a (click)="showProfile()">
                    <i class="pi pi-fw pi-user"></i>
                    <span class="topbar-item-name">Profile</span>
                </a>
            </li>
        </ul>

        <p-dialog class="p-3" [(visible)]="showDialog" header="Profile" [modal]="true" [style]="{width:'auto'}">
            <app-view-profile *ngIf="showDialog" [profile]="myProfile" [work]="myWorkProfile"></app-view-profile>
        </p-dialog>
    
        <!-- <a href="#" id="right-panel-button" [ngClass]="{'menu-button-rotate': app.rightPanelActive}" (click)="app.onRightPanelButtonClick($event)">
            <i class="pi pi-angle-double-left"></i> 
        </a> -->

    </div>
</div>