@import url(.../../../../../assets/sass/layout/_login.scss);

.login-lbl{
    font-size: x-large;
    color: green;
    font-weight: 600;
}

.sign-up-link {
    text-align: start;

    span{
        font-size: 12px;
        color: green;
        font-weight: 700;
    }
}

.surface-ground {
    background: url("../../../assets/images/main_background.jpeg") no-repeat;
    background-size: cover;
    background-position: center;
}

.login-panel {
    position: inherit !important;
}

.thumbnail-img {
    min-width: 100px;
}

.login-label {
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 20px;
}

.login-container {
    position: fixed;
    top: 10%;
    left: 0;
    right: 0;
    margin: 0 30%;
}

.logo-login {
    text-align: start;
    height: 80px;
    margin: 20px;
}

.banner-tab {
    height: 30px;
    margin-bottom: 20px;
    text-align: end;
    background: #005B58;
    width: -webkit-fill-available;
}

.footer {
    background: #005B58;
    width: 100%;
    padding: 40px !important;

    label {
        color: white;
    }
}



.flex-row {
    display: flex;
    align-items: center; /* Center items vertically */

    .rsu {
        font-family: Inknut Antiqua;
        color: white;
        font-size: x-large;
    }

    .it {
        font-family: Inknut Antiqua;
        color: white;
    }
}

.flex-row img {
    margin-right: 10px; /* Add some margin between the image and text */
}

.error-text {
    font-size: 10px;
    color: red;
}

.banner-header {
    height: 150px;
    text-align: center;
    background: #005B58;
    width: -webkit-fill-available;

    .logo-container {
        height: 60px;
        top: 20px;
        position: relative;

        img {
            height: 14px;
            width: auto;
            vertical-align: middle;
            border: 0 none;
        }
    }
}

.header-img {
    width: -webkit-fill-available;
}

.thumbnail-img {
    height: 80px;
    width: 50px;
    display: block;
}

:host ::ng-deep .p-message {
    margin-left: .25em;
}

:host ::ng-deep .p-toast{
    z-index:99999;
}

.p-galleria-thumbnail-item {
    margin-left: 15px;
}

.header {
    background: #269CA8;
}
