<div class="login-body">
    <div class="login-image">
        <div class="surface-ground grid" style="min-height: -webkit-fill-available;">
            <div class="banner-header">
                <div  class="logo-login">

                    <div class="flex-row">
                        <img src="assets/images/logo_login_removebg.png" alt="ecuador-layout" style="height: 150px; width: 100%;" />
                        <!-- <span>
                            <span class="rsu">ROMBLON STATE UNIVERSITY</span><br/>
                            <span class="it">Institute of Information Technology</span>
                        </span>  -->
                    </div>
                    
                </div>
            </div>
            <div class="banner-tab">
                <a style="cursor: pointer;" (click)="openModalLogin()">
                    <span style="color: white; margin-right: 30px; font-weight: bold;">About</span>
                    <span style="color: white; margin-right: 70px; font-weight: bold;">Login</span>
                </a>
            </div>
            <div class="col-12">
                <div class="grid surface-ground">
                    <div class="col">
                        <div class="px-4 py-5 md:px-6 lg:px-8">
                            <div class="card">
                                <!-- <div class="grid mb-3" style="padding: 0 65px;">
                                    <div class="col-12 md:col-6 lg:col-4">
                                        <div class="surface-card shadow-2 p-3 border-round">
                                            <div class="flex justify-content-between mb-3">
                                                <div>
                                                    <span class="block text-500 font-medium mb-3">Upcoming Events</span>
                                                    <div class="text-900 font-medium text-xl">{{counts.event_counts ?? 0}}</div>
                                                </div>
                                                <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width:2.5rem;height:2.5rem">
                                                    <i class="pi pi-calendar text-blue-500 text-xl"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 md:col-6 lg:col-4">
                                        <div class="surface-card shadow-2 p-3 border-round">
                                            <div class="flex justify-content-between mb-3">
                                                <div>
                                                    <span class="block text-500 font-medium mb-3">Job Posting</span>
                                                    <div class="text-900 font-medium text-xl">{{counts.job_counts ?? 0}}</div>
                                                </div>
                                                <div class="flex align-items-center justify-content-center bg-orange-100 border-round" style="width:2.5rem;height:2.5rem">
                                                    <i class="pi pi-shopping-bag text-orange-500 text-xl"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 md:col-6 lg:col-4">
                                        <div class="surface-card shadow-2 p-3 border-round">
                                            <div class="flex justify-content-between mb-3">
                                                <div>
                                                    <span class="block text-500 font-medium mb-3">Alumni</span>
                                                    <div class="text-900 font-medium text-xl">{{counts.alumni_counts ?? 0}}</div>
                                                </div>
                                                <div class="flex align-items-center justify-content-center bg-purple-100 border-round" style="width:2.5rem;height:2.5rem">
                                                    <i class="pi pi-discord text-purple-500 text-xl"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->

                                <div class="grid mt-5">
                                    <div  style="padding: 0 65px; width: 100%;">
                                        <p>Dear IIT Alumni,</p>
                                        <p>The Institute of Information Technology is establishing a system of tracing its graduates and getting feedback regarding the educational experience, type of work and employability. This is useful in planning future educational needs. Results of this tracer study will only be presented in summary form and individual responses will be kept strictly confidential.</p>
                                        <p> May we therefore request your precious time to please answer the questionnaire sincerely. There is no right or wrong answer. We would appreciate if you could complete the following questionnaire and return to us, at your earliest convenience.</p>
                                        <p>Thank you for your cooperation and God bless.</p>
                                        <p>Sincerely,</p>
                                        <p>John Lloyd Galicia, Cristine Montoya, Jonvie Marquina, Lea Dela Cruz, Rhiyan Mar Amar</p>
                                        <p>Researcher</p>
                                        <p>Mobile: 0912 345 6789</p>
                                        <p>Email:iitalumni@yahoo.com</p>
                                    </div>
                                    <div style="margin: auto;">
                                        <button 
                                        pButton pRipple 
                                        (click)="gotoSignUp()"
                                        type="button" label="SIGN UP" 
                                        class="p-button-raised p-button-primary mr-2 mb-2">
                                    </button>
                                    </div>
                                    
                                </div>

                                <hr>

                                <div class="grid mt-5">
                                    <div style="padding: 0 65px; width: 100%;">
                                        <div>
                                            <h5>Upcoming Events</h5>
                                            <p-galleria [value]="events" [responsiveOptions]="galleriaResponsiveOptions"
                                                        [containerStyle]="{'width': '100%'}" [numVisible]="6" [circular]="true">
                                                <ng-template pTemplate="item" let-item>
                                                    <img [src]="'http://localhost:3001' + item.image_url" style="width: 100%; display: block; height: 200px;"/>
                                                </ng-template>
                                                <ng-template pTemplate="thumbnail" let-events>
                                                    <div class="grid nogutter justify-center">
                                                        <img class="thumbnail-img" [src]="'http://localhost:3001' + events.image_url" style="display: block;"/>
                                                    </div>
                                                </ng-template>
                                            </p-galleria>
                                        </div>
                                    </div>
                                </div>

                                <hr>

                                <div class="grid mt-5">
                                    <div style="padding: 0 65px; width: 100%;">
                                        <div>
                                            <h5>Current Events</h5>
                                            <p-dataView #dv [value]="events" [paginator]="true" [rows]="9" filterBy="name" [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
                                                <ng-template pTemplate="header">
                                                    <div class="grid grid-nogutter flex-column md:flex-row justify-content-between">
                                                        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                                                    </div>
                                                </ng-template>
                                            </p-dataView>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-3">
                        <div *ngIf="showLoginModal">
                            <p-toast key="tst" [baseZIndex]="99999"></p-toast>
                            <form role="form" [formGroup]="formLogin">
                                <div class="login-panel shadow-5">
                                    <label class="login-lbl">Login</label>
                                    <div class="login-form mt-5 mb-2">
                                        <div class="p-col-12">
                                            <span class="p-float-label">
                                                <input type="text" id="username" pInputText formControlName="username">
                                                <label for="username">Email</label>
                                            </span>
                                        </div>
                                        <div class="p-col-12 mt-4">
                                            <span class="p-float-label">
                                                <input type="password" autocomplete="off" id="password" pInputText formControlName="password">
                                                <label for="password">Password</label>
                                            </span>
                                        </div>
                                    </div>
                        
                                    <div class="p-col-12 sign-up-link">
                                        Don't have an account?
                                        <a href="#/registration" class="subinfo">
                                            <span>&nbsp;Sign Up</span>
                                        </a>
                                    </div>
                                    <button class="mt-5" type="button" pButton label="Login" (click)="confirm()"  [disabled]="formLogin.invalid"></button>
                        
                                </div>
                            </form>
                        </div>
                        <div>
                            <div class="header text-center my-2"><b>DEVELOPERS</b></div>
                            <div class="dev-container">
                                <img src="../../../assets/images/lloyd.jpeg" style="width: 100%; display: block; height: 200px;"/>
                                <div class="header text-center">JOHN LLOYD GALICIA</div>
                            </div>
                            <div class="dev-container">
                                <img src="../../../assets/images/tine.jpeg" style="width: 100%; display: block; height: 200px;"/>
                                <div class="header text-center">CRISTINE MONTOYA</div>
                            </div>
                            <div class="dev-container">
                                <img src="../../../assets/images/lea.jpeg" style="width: 100%; display: block; height: 200px;"/>
                                <div class="header text-center">LEA DELA CRUZ</div>
                            </div>
                            <div class="dev-container">
                                <img src="../../../assets/images/rhiyan.jpeg" style="width: 100%; display: block; height: 200px;"/>
                                <div class="header text-center">RHIYAN MAR MAZO</div>
                            </div>
                            <div class="dev-container">
                                <img src="../../../assets/images/jonvie.jpeg" style="width: 100%; display: block; height: 200px;"/>
                                <div class="header text-center">JONVIE MARQUINA</div>
                            </div>
                        </div>
                    </div> -->
                </div>

                <div *ngIf="showLoginModal">
                    <div class="login-container">
                        <p-toast key="tst" [baseZIndex]="99999"></p-toast>
                        

                        <form role="form" [formGroup]="formLogin">
                            <div class="login-panel shadow-5">
                                <label class="login-lbl">Login</label>
                                <div class="login-form mt-5 mb-2">
                                    <div class="p-col-12">
                                        <span class="p-float-label">
                                            <input type="text" id="username" pInputText formControlName="username">
                                            <label for="username">Email</label>
                                        </span>
                                    </div>
                                    <div class="p-col-12 mt-4">
                                        <span class="p-float-label">
                                            <input type="password" autocomplete="off" id="password" pInputText formControlName="password">
                                            <label for="password">Password</label>
                                        </span>
                                    </div>
                                </div>
                    
                                <div class="p-col-12 sign-up-link">
                                    Don't have an account?
                                    <a href="#/registration" class="subinfo">
                                        <span>&nbsp;Sign Up</span>
                                    </a>
                                </div>
                                <button class="mt-5" type="button" pButton label="Login" (click)="confirm()"  [disabled]="formLogin.invalid"></button>
                                <button class="ml-2 mt-5 btn p-button-danger" type="button" pButton label="Close" (click)="closeLoginModal()"></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="footer p-3">
                <app-footer></app-footer>
            </div>
        </div> 
    </div>
</div>


