<div class="login-body">
    <div class="login-image">
        <div class="surface-ground grid" style="min-height: -webkit-fill-available;">
            <div class="banner-header">
                <div  class="logo-login">

                    <div class="flex-row">
                        <img src="assets/images/logo_login_removebg.png" alt="ecuador-layout" style="height: 150px; width: 100%;" />
                    </div>
                    
                </div>
            </div>
            <div class="banner-tab">
                <a style="cursor: pointer;" (click)="openModalLogin()">
                    <span style="color: white; margin-right: 30px; font-weight: bold;">About</span>
                    <span style="color: white; margin-right: 70px; font-weight: bold;">Login</span>
                </a>
            </div>
            <div class="col-12">
                <div class="grid surface-ground">
                    <div class="col">
                        <div class="px-4 py-5 md:px-6 lg:px-8">
                            <div class="card">

                                <div class="grid mt-5">
                                    <div  style="padding: 0 65px; width: 100%;">
                                        <p>Dear IIT Alumni,</p>
                                        <p>The Institute of Information Technology is establishing a system of tracing its graduates and getting feedback regarding the educational experience, type of work and employability. This is useful in planning future educational needs. Results of this tracer study will only be presented in summary form and individual responses will be kept strictly confidential.</p>
                                        <p> May we therefore request your precious time to please answer the questionnaire sincerely. There is no right or wrong answer. We would appreciate if you could complete the following questionnaire and return to us, at your earliest convenience.</p>
                                        <p>Thank you for your cooperation and God bless.</p>
                                        <p>Sincerely,</p>
                                        <p>John Lloyd Galicia, Cristine Montoya, Jonvie Marquina, Lea Dela Cruz, Rhiyan Mar Mazo</p>
                                        <p>Researcher</p>
                                        <p>Mobile: 0912 345 6789</p>
                                        <p>Email:iitalumni@yahoo.com</p>
                                    </div>
                                    <div style="margin: auto;">
                                        <button 
                                        pButton pRipple 
                                        (click)="gotoSignUp()"
                                        type="button" label="SIGN UP" 
                                        class="p-button-raised p-button-primary mr-2 mb-2">
                                    </button>
                                    </div>
                                    
                                </div>

                                <hr>

                                <!-- <div class="grid mt-5">
                                    <div style="padding: 0 65px; width: 100%;">
                                        <div>
                                            <h5>Upcoming Events</h5>
                                            <p-galleria [value]="events" [responsiveOptions]="galleriaResponsiveOptions"
                                                        [containerStyle]="{'width': '100%'}" [numVisible]="6" [circular]="true">
                                                <ng-template pTemplate="item" let-item>
                                                    <img [src]="'http://localhost:3001' + item.image_url" style="width: 100%; display: block; height: 200px;"/>
                                                </ng-template>
                                                <ng-template pTemplate="thumbnail" let-events>
                                                    <div class="grid nogutter justify-center">
                                                        <img class="thumbnail-img" [src]="'http://localhost:3001' + events.image_url" style="display: block;"/>
                                                    </div>
                                                </ng-template>
                                            </p-galleria>
                                        </div>
                                    </div>
                                </div> -->

                                <div>
                                    <p-carousel [value]="events" [numVisible]="3" [numScroll]="3" [circular]="false" [responsiveOptions]="responsiveOptions">
                                        <ng-template let-event pTemplate="event">
                                            <div class="border-1 surface-border border-round m-2 text-center py-5 px-3">
                                                <div class="mb-3">
                                                    <img [src]="'http://localhost:3001' + event.image_url" [alt]="event.name" class="my-4 md:my-0 img-h img-h w-5 md:w-10rem shadow-2 mr-5"/>
                                                </div>
                                                <div class="flex-1 text-center md:text-left">
                                                    <div class="font-bold">Title: {{event.title}}</div>
                                                    <div class="mb-3">Venue: {{event.venue}}</div>
                                                    <div>Date From: {{event.date_from | date}}</div>
                                                    <div class="mb-3">Date To: {{event.date_to | date}}</div>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </p-carousel>
                                </div>

                                <hr>

                                <div class="grid mt-5">
                                    <div class="col-12">
                                        <div class="card grid mt-3 announcement-container">
                                            <div class="col-12">
                                                <p-dataView #dv [value]="events" [paginator]="true" [rows]="9" filterBy="name" [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
                                                    <ng-template pTemplate="header">
                                                        <div class="grid grid-nogutter flex-column md:flex-row justify-content-between">
                                                            <div class="grid">
                                                                <div class="col-12 md:col-6">
                                                                    <h5><b>Current Events</b></h5>
                                                                </div>
                                                                <div class="col-12 md:col-6">
                                                                    <span class="p-input-icon-left mb-2 md:mb-0">
                                                                        <i class="pi pi-search"></i>
                                                                        <input type="search" pInputText placeholder="Search by Name" (input)="dv.filter($event.target.value)">
                                                                    </span>	
                                                                </div>
                                                            </div>
                                                            <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                                                        </div>
                                                    </ng-template>
                                    
                                                    <ng-template let-event pTemplate="listItem">
                                                        <div class="col-12" (click)="viewEvent(event)">
                                                            <div class="flex flex-column md:flex-row align-items-center p-3 w-full">
                                                                <img [src]="'http://localhost:3001' + event.image_url" [alt]="event.name" class="my-4 md:my-0 img-h img-h w-5 md:w-10rem shadow-2 mr-5"/>
                                                                <div class="flex-1 text-center md:text-left">
                                                                    <div class="font-bold">Title: {{event.title}}</div>
                                                                    <div class="mb-3">Venue: {{event.venue}}</div>
                                                                    <div class="mb-3">Date: {{event.date | date}}</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </ng-template>
                                    
                                                    <ng-template let-event pTemplate="gridItem">
                                                        <div class="col-12 md:col-4" (click)="viewCurrentEvent(event)">
                                                            <div class="card m-3 border-1 surface-border">
                                                                <div class="flex align-items-center justify-content-between">
                                                                    <div class="flex align-items-center">
                                                                        
                                                                    </div>
                                                                </div>
                                                                <div class="text-center">
                                                                    <img [src]="'http://localhost:3001' + event.image_url" [alt]="event.name" class="img-h img-h shadow-2 my-3 mx-0"/>
                                                                </div>
                                                                <div class="text-start">
                                                                    <div><b>Title:</b> {{event.title}}</div>
                                                                    <div><b>Venue:</b> {{event.venue}}</div>
                                                                    <div>Date From: {{event.date_from | date}}</div>
                                                                    <div class="mb-3">Date To: {{event.date_to | date}}</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </ng-template>
                                                </p-dataView>
                                            </div>
                                            
                                            <p-dialog [(visible)]="showViewCurrentEventDialog" [style]="{width: '450px'}" header="Add New Event Post" [modal]="true" class="p-fluid">
                                                <app-view-event *ngIf="showViewCurrentEventDialog" [eventDialogStat]="showViewCurrentEventDialog" [eventData]="selectedCurrentEvent"></app-view-event>
                                            </p-dialog>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="showLoginModal">
                    <div class="login-container">
                        <p-toast key="tst" [baseZIndex]="99999"></p-toast>
                        

                        <form role="form" [formGroup]="formLogin">
                            <div class="login-panel shadow-5">
                                <label class="login-lbl">Login</label>
                                <div class="login-form mt-5 mb-2">
                                    <div class="p-col-12">
                                        <span class="p-float-label">
                                            <input type="text" id="username" pInputText formControlName="username">
                                            <label for="username">Email</label>
                                        </span>
                                    </div>
                                    <div *ngIf="formLogin.get('username').invalid && (formLogin.get('username').dirty || formLogin.get('username').touched)">
                                        <div class="error-text" *ngIf="formLogin.get('username').errors?.required">Email is required.</div>
                                        <div class="error-text" *ngIf="formLogin.get('username').errors?.email">Invalid email format.</div>
                                    </div>
                                    <div class="p-col-12 mt-4">
                                        <span class="p-float-label">
                                            <input type="password" autocomplete="off" id="password" pInputText formControlName="password">
                                            <label for="password">Password</label>
                                        </span>
                                    </div>
                                    <div *ngIf="formLogin.get('password').invalid && (formLogin.get('password').dirty || formLogin.get('password').touched)">
                                        <div class="error-text" *ngIf="formLogin.get('password').errors?.required">Password is required.</div>
                                        <div class="error-text" *ngIf="formLogin.get('password').errors?.minlength">Must be atleast 8 digits.</div>
                                    </div>
                                </div>

                                <div class="p-col-12 sign-up-link">
                                    <label class="forgot-password-link" (click)="showForgotPassword()">Forgot Password
                                    </label>
                                </div>

                    
                                <div class="p-col-12 sign-up-link">
                                    Don't have an account?
                                    <a href="#/registration" class="subinfo">
                                        <span>&nbsp;Sign Up</span>
                                    </a>
                                </div>
                                <button class="mt-5" type="button" pButton label="Login" (click)="confirm()"  [disabled]="formLogin.invalid"></button>
                                <button class="ml-2 mt-5 btn p-button-danger" type="button" pButton label="Close" (click)="closeLoginModal()"></button>
                            </div>
                        </form>
                    </div>
                </div>

                <p-dialog [(visible)]="showModalForgotPass" [style]="{width: '450px'}" header="Forgot Password" [modal]="true" class="p-fluid">
                    <app-forgot-password></app-forgot-password>
                </p-dialog>
            </div>

            <div class="footer p-3">
                <app-footer></app-footer>
            </div>
        </div> 
    </div>
</div>


