<div class="grid p-fluid">
    <div class="col-12">
        <div class="card card-w-title flex flex-wrap">
            <div class="col-12 md:col-12 h-full">
                <h5>Registration</h5>
                <p-tabMenu styleClass="mb-5" [model]="routeItems"></p-tabMenu>

                <!-- <div *ngIf="areAllStepsValid()"> -->
                    <router-outlet></router-outlet>
                  <!-- </div> -->

                <!-- <p-steps [model]="routeItems" styleClass="mt-5" [readonly]="false"></p-steps> -->
            </div>
            
        </div>
    </div>
</div>
