<!-- <p-dialog [(visible)]="eventDialog" [style]="{width: '450px'}" header="Add New Event Post" [modal]="true" class="p-fluid"> -->
    <div>
        <img [src]="eventData.image_url ? 'http://localhost:3001' + eventData.image_url : 'assets/demo/images/product/temp_profile.jpg'" [alt]="eventData.name" width="100" class="shadow-4" />
        <form role="form" [formGroup]="formJob">
            <input *ngIf="showUpdateBtn" type="file" (change)="onFileSelected($event)" />
            <div class="field mt-2">
                <label for="title">Title</label>
                <input type="text" pInputText id="title" formControlName="title" required autofocus/>
            </div>
            <div class="field">
                <label for="venue">Venue</label>
                <input type="text" pInputText id="venue" formControlName="venue" required autofocus/>
            </div>
            <div class="field">
                <label for="date_from">Date</label>
                <input type="datetime-local" pInputText id="date_from" formControlName="date_from" required autofocus/>
            </div>
            <div class="field">
                <label for="date_to">Time</label>
                <input type="datetime-local" pInputText id="date_to" formControlName="date_to" required autofocus/>
            </div>
            <div class="field">
                <label for="sponsor">Sponsor</label>
                <input type="text" pInputText id="sponsor" formControlName="sponsor" required autofocus/>
            </div>
            <button *ngIf="showUpdateBtn" pButton pRipple label="Save" icon="pi pi-check" class="p-button-success" (click)="updateEvent()"></button>
        </form>
<!--     
        <ng-template pTemplate="footer" *ngIf="showUpdateBtn">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="updateEvent()"></button>
        </ng-template> -->
    </div>
<!-- </p-dialog> -->