<div class="container">
    <div class="card grid mt-3 announcement-container" *ngIf="isActiveButton == 'personal'">
        <div class="col-12">
            <p-dataView #dv [value]="jobs" [paginator]="true" [rows]="9" filterBy="company_name" [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
                <ng-template pTemplate="header">
                    <div class="grid grid-nogutter flex-column md:flex-row justify-content-between">
                        <div class="grid">
                            <div class="col-12 md:col-6">
                                <h5>Latest Job Posts</h5>
                            </div>
                            <div class="col-12 md:col-6">
                                <span class="p-input-icon-left mb-2 md:mb-0">
                                    <i class="pi pi-search"></i>
                                    <input type="search" pInputText placeholder="Search by Name" (input)="dv.filter($event.target.value)">
                                </span>	
                            </div>
                        </div>
                        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                    </div>
                </ng-template>

                <ng-template let-job pTemplate="listItem">
                    <div class="col-12" (click)="viewJob(job)">
                        <div class="flex flex-column md:flex-row align-items-center p-3 w-full">
                            <img [src]="'http://localhost:3001' + job.image_url" [alt]="job.name" class="my-4 md:my-0 img-h img-h w-5 md:w-10rem shadow-2 mr-5"/>
                            <div class="flex-1 text-center md:text-left">
                                <div><b>Job Vacancy</b></div>
                                        <div>{{job.position}}</div>
                                        <div><b>Company</b></div>
                                        <div>{{job.company_name}}</div>
                                        <div>Date: {{job.active_date}}</div>
                                <!-- <div class="font-bold">Company: {{job.company_name}}</div>
                                <div class="mb-3">Address: {{job.company_address}}</div>
                                <div class="mb-3">Deployment Date: {{job.active_date | date}}</div> -->
                                <div class="flex align-items-center mt-2">
                                    <button pButton pRipple type="button" label="APPROVED" class="p-button-success mr-2 mb-2"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>

                <ng-template let-job pTemplate="gridItem">
                    <div class="col-12 md:col-4" (click)="viewJob(job)">
                        <div class="card m-3 border-1 surface-border">
                            <div class="flex align-items-center justify-content-center">
                                <div class="flex align-items-center">
                                    <div class="font-bold text-2xl">Company: {{job.company_name}}</div>
                                </div>
                            </div>
                            <div class="text-center">
                                <img [src]="'http://localhost:3001' + job.image_url" [alt]="job.name" class="img-h img-h shadow-2 my-3 mx-0"/>
                                <div><b>Job Vacancy</b></div>
                                        <div>{{job.position}}</div>
                                        <div><b>Company</b></div>
                                        <div>{{job.company_name}}</div>
                                        <div>Date: {{job.active_date}}</div>

                                <!-- <div><span class="font-semibold">Address: {{job.company_address}}</span></div>
                                <div class="mb-3">Deployment Date: {{job.active_date | date}}</div>
                                <div class="mb-3"><button pButton pRipple type="button" label="APPROVED" class="p-button-success mr-2 mb-2"></button></div> -->
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataView>
        </div>

        <app-view-job *ngIf="showViewJobDialog" [jobDialogStat]="showViewJobDialog" [jobData]="selectedJob"></app-view-job>
    </div>

    <div class="card grid mt-3 announcement-container" *ngIf="isActiveButton == 'personal'">
        <div class="col-12">
            <p-dataView #dv [value]="events" [paginator]="true" [rows]="9" filterBy="title" [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
                <ng-template pTemplate="header">
                    <div class="grid grid-nogutter flex-column md:flex-row justify-content-between">
                        <div class="grid">
                            <div class="col-12 md:col-6">
                                <h5>Current Events</h5>
                            </div>
                            <div class="col-12 md:col-6">
                                <span class="p-input-icon-left mb-2 md:mb-0">
                                    <i class="pi pi-search"></i>
                                    <input type="search" pInputText placeholder="Search by Name" (input)="dv.filter($event.target.value)">
                                </span>	
                            </div>
                        </div>
                        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                    </div>
                </ng-template>

                <ng-template let-event pTemplate="listItem">
                    <div class="col-12" (click)="viewEvent(event)">
                        <div class="flex flex-column md:flex-row align-items-center p-3 w-full">
                            <img [src]="'http://localhost:3001' + event.image_url" [alt]="event.name" class="my-4 md:my-0 img-h img-h w-5 md:w-10rem shadow-2 mr-5"/>
                            <div class="flex-1 text-center md:text-left">
                                <div class="font-bold">Title: {{event.title}}</div>
                                <div class="mb-3">Venue: {{event.venue}}</div>
                                <div class="mb-3">Date: {{event.date | date}}</div>
                                <div class="flex align-items-center mt-2">
                                    <button pButton pRipple type="button" label="APPROVED" class="p-button-success mr-2 mb-2"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>

                <ng-template let-event pTemplate="gridItem">
                    <div class="col-12 md:col-4" (click)="viewEvent(event)">
                        <div class="card m-3 border-1 surface-border">
                            <div class="flex align-items-center justify-content-between">
                                <div class="flex align-items-center">
                                    
                                </div>
                            </div>
                            <div class="text-center">
                                <img [src]="'http://localhost:3001' + event.image_url" [alt]="event.name" class="img-h img-h shadow-2 my-3 mx-0"/>
                            </div>
                            <div class="text-start">
                                <div><b>Title:</b> {{event.title}}</div>
                                <div><b>Venue:</b> {{event.venue}}</div>
                                <div class="mb-3">Date: {{event.date | date}}</div>
                                <div class="mb-3"><button pButton pRipple type="button" label="APPROVED" class="p-button-success mr-2 mb-2"></button></div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataView>
        </div>
        <p-dialog [(visible)]="showViewDialog" [style]="{width: '450px'}" header="Add New Event Post" [modal]="true" class="p-fluid">
            <app-view-event *ngIf="showViewEventDialog" [userType]="userType" [eventDialogStat]="showViewEventDialog" [eventData]="selectedEvent"></app-view-event>
        </p-dialog>
    </div>

    <div class="card grid mt-3 announcement-container" *ngIf="isActiveButton == 'personal'">
        <div class="col-12" (click)="viewEvent(event)">
            <p-dataView #dv [value]="upcomingEvents" [paginator]="true" [rows]="9" filterBy="title" [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
                <ng-template pTemplate="header">
                    <div class="grid grid-nogutter flex-column md:flex-row justify-content-between">
                        <div class="grid">
                            <div class="col-12 md:col-6">
                                <h5>Upcoming Events</h5>
                            </div>
                            <div class="col-12 md:col-6">
                                <span class="p-input-icon-left mb-2 md:mb-0">
                                    <i class="pi pi-search"></i>
                                    <input type="search" pInputText placeholder="Search by Name" (input)="dv.filter($event.target.value)">
                                </span>	
                            </div>
                        </div>
                        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                    </div>
                </ng-template>

                <ng-template let-event pTemplate="listItem">
                    <div class="col-12" (click)="viewEvent(event)">
                        <div class="flex flex-column md:flex-row align-items-center p-3 w-full">
                            <img [src]="'http://localhost:3001' + event.image_url" [alt]="event.name" class="my-4 md:my-0 img-h img-h w-5 md:w-10rem shadow-2 mr-5"/>
                            <div class="flex-1 text-center md:text-left">
                                <div class="font-bold">Title: {{event.title}}</div>
                                <div class="mb-3">Venue: {{event.venue}}</div>
                                <div class="mb-3">Date: {{event.date | date}}</div>
                                <div class="flex align-items-center mt-2">
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>

                <ng-template let-event pTemplate="gridItem">
                    <div class="col-12 md:col-4" (click)="viewEvent(event)">
                        <div class="card m-3 border-1 surface-border">
                            <div class="flex align-items-center justify-content-between">
                                <div class="flex align-items-center">
                                    
                                </div>
                            </div>
                            <div class="text-center">
                                <img [src]="'http://localhost:3001' + event.image_url" [alt]="event.name" class="img-h img-h shadow-2 my-3 mx-0"/>
                            </div>
                            <div class="text-start">
                                <div><b>Title:</b> {{event.title}}</div>
                                <div><b>Venue:</b> {{event.venue}}</div>
                                <div class="mb-3">Date: {{event.date | date}}</div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataView>
        </div>
        <p-dialog [(visible)]="showViewEventDialog" [style]="{width: '450px'}" header="Add New Event Post" [modal]="true" class="p-fluid">
            <app-view-event *ngIf="showViewEventDialog" [userType]="userType"  [eventDialogStat]="showViewEventDialog" [eventData]="selectedEvent"></app-view-event>
        </p-dialog>
    </div>
</div>
