.custom-input {
    width: 100%;
    border: 1px solid rgb(206, 212, 218);
    height: 30.33px;
}

.error-text {
    font-size: 10px;
    color: red;
}

.required {
    font-size: 10px;
    color: red;
}