<div class="container">
    <form role="form" [formGroup]="accountForm">
        <div class="account-panel">
            <div class="grid mt-3">
                <div class="col-12 md:col-4">
                    <div class="account-form">
                        <div class="p-col-12">
                            <div class="field">
                                <label for="username">Email</label>
                                <input class="custom-input" type="text" id="username" pInputText formControlName="username">
                            </div>
                        </div>
                        <div class="p-col-12">
                            <div class="field">
                                <label for="password">Password</label>
                                <input class="custom-input" type="password" autocomplete="off" id="password" pInputText formControlName="password">
                            </div>
                        </div>
                        <div class="p-col-12">
                            <div class="field">
                                <label for="confirm_password">Confirm Password</label>
                                <input class="custom-input" type="password" autocomplete="off" id="confirm_password" pInputText formControlName="confirm_password">
                            </div>
                        </div>
                        <div class="grid p-fluid">
                            <div class="col-12">
                                <div class="field">
                                    <label for="user_type">User Type</label>
                                    <p-dropdown inputId="user_type" [autoDisplayFirst]="false" [options]="user_types" optionLabel="name" formControlName="user_type_id"></p-dropdown>
                                </div>
                            </div>
                        </div>

                        <div class="grid p-fluid">
                            <div class="col-12">
                                <button 
                                    pButton pRipple 
                                    type="button" label="NEXT" 
                                    [disabled]="accountForm.invalid"
                                    (click)="confirm()" class="p-button-raised p-button-success mr-2 mb-2"></button>
                            </div>
                        </div>

                       
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>