.img-h {
    height: 150px;
    width: 200px;
}

.warning-span {
    background: #FEEDAF;
    color: #8A5340;
    padding: 5px;
}

.danger-span {
    background: #FFCDD2;
    color: #C63737;
    padding: 5px;
}

.success-span {
    background: #C8E6C9;
    color: #256029;
    padding: 5px
}