$primaryColor:#a2ad03;
$primaryTextColor:#ffffff;

$topbarBgLeftColor:#53C018;
$topbarBgRightColor:#C6D309;
$topbarSidebarButtonColor:#ffffff;
$topbarIconHoverBgColor:#3E9311;
$topbarMenuHoverBgColor:#90990A;
$topbarProfileTextColor:#333333;
$activeSubMenuItemTextColor:$primaryColor;

@import '../../sass/layout/_layout';