<div class="container">
    <p-toast key="tst" [baseZIndex]="99999"></p-toast>

    <div class="edit-form">
        <form role="form" [formGroup]="personalForm">
            <div class="sign-up-panel">
                <div class="grid">
                    <div class="col-12 md:col-3">
                        <div class="grid p-fluid">
                            <div class="col-12">
                                <div class="field">
                                    <label for="first_name">First Name</label>
                                    <input class="custom-input" type="text" id="first_name" pInputText formControlName="first_name">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 md:col-3">
                        <div class="grid p-fluid">
                            <div class="col-12">
                                <div class="field">
                                    <label for="middle_name">Middle Name</label>
                                    <input  class="custom-input" type="text" id="middle_name" pInputText formControlName="middle_name">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 md:col-3">
                        <div class="grid p-fluid">
                            <div class="col-12">
                                <div class="field">
                                    <label for="last_name">Last Name</label>
                                    <input class="custom-input" type="text" id="last_name" pInputText formControlName="last_name">
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-12 md:col-3">
                        <div class="grid p-fluid">
                            <div class="col-12">
                                <div class="field">
                                    <label for="dob">Date of Birth</label>
                            <input class="custom-input" type="date" id="dob" [max]="maxDate"  pInputText formControlName="dob">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 md:col-3">
                        <div class="grid p-fluid">
                            <div class="col-12">
                                <div class="field">
                                    <label for="age">Age</label>
                                    <input class="custom-input" type="number" id="age" pInputText formControlName="age">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 md:col-3">
                        <div class="grid p-fluid">
                            <div class="col-12">
                                <div class="field">
                                    <label for="civil_status">Civil Status</label>
                                    <p-dropdown inputId="civil_status" [autoDisplayFirst]="false" [options]="civil_statuses" optionLabel="name" formControlName="civil_status"></p-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 md:col-3">
                        <div class="grid p-fluid">
                            <div class="col-12">
                                <div class="field">
                                    <label for="gender">Gender</label>
                            <p-dropdown inputId="gender" [autoDisplayFirst]="false" [options]="genders" optionLabel="name" formControlName="gender"></p-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
    
                </div>
    
                <p class="mt-2"><b>Home Address</b></p>
                <div class="grid">
    
                    <div class="col-12 md:col-3">
                        <div class="grid p-fluid">
                            <div class="col-12">
                                <div class="field">
                                    <label for="region">Region</label>
                                    <input class="custom-input" type="text" id="region" pInputText formControlName="region">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 md:col-3">
                        <div class="grid p-fluid">
                            <div class="col-12">
                                <div class="field">
                                    <label for="province">Province</label>
                                    <input class="custom-input" type="text" id="province" pInputText formControlName="province">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 md:col-3">
                        <div class="grid p-fluid">
                            <div class="col-12">
                                <div class="field">
                                    <label for="municipality">Municipality</label>
                                    <input class="custom-input" type="text" id="municipality" pInputText formControlName="municipality">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 md:col-3">
                        <div class="grid p-fluid">
                            <div class="col-12">
                                <div class="field">
                                    <label for="barangay">Barangay</label>
                            <input class="custom-input" type="text" id="barangay" pInputText formControlName="barangay">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <p class="mt-2"><b>Educational Background</b></p>
                <div class="grid">
    
                    <div class="col-12 md:col-3">
                        <div class="grid p-fluid">
                            <div class="col-12">
                                <div class="field">
                                    <label for="course">Course/Degree</label>
                                    <input class="custom-input" type="text" id="course" pInputText formControlName="course">
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-12 md:col-3">
                        <div class="grid p-fluid">
                            <div class="col-12">
                                <div class="field">
                                    <label for="year_graduated">Year Graduated</label>
                                    <input class="custom-input" type="text" id="year_graduated" pInputText formControlName="year_graduated">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <p class="mt-2"><b>Contact Information</b></p>
                <div class="grid">
                    <div class="col-12 md:col-3">
                        <div class="grid p-fluid">
                            <div class="col-12">
                                <div class="field">
                                    <label for="email_address">Email Address</label>
                                    <input class="custom-input" type="text" id="email_address" pInputText formControlName="email_address">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 md:col-3">
                        <div class="grid p-fluid">
                            <div class="col-12">
                                <div class="field">
                                    <label for="phone_number">Phone Number</label>
                            <input class="custom-input" type="text" id="phone_number" pInputText formControlName="phone_number">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <button 
                    *ngIf="is_updating"
                    pButton pRipple 
                    type="button" label="UPDATE" 
                    [disabled]="personalForm.invalid"
                    (click)="update()" class="p-button-raised p-button-success mr-2 mb-2">
                </button>
            </div>
        </form>
    </div>

    <button 
        *ngIf="!is_updating"
        pButton pRipple 
        type="button" label="EDIT" 
        [disabled]="personalForm.invalid"
        (click)="edit()" class="p-button-raised p-button-primary mr-2 mb-2">
    </button>
</div>